<div class="flex flex-col flex-auto col-end-7	 bg-card shadow  overflow-hidden">
  <div class="p-2 border-b">
    <div class="flex items-start justify-between ">
      <div class="text-lg font-medium tracking-tight leading-6 truncate"> Project Timeline</div>
    </div>
  </div>
  <div class="flex flex-col flex-auto overflow-hidden relative-position ">
    <div class="coming-soon ">Coming Soon</div>
    <apx-chart class="flex-auto items-center overlay-5" [series]="series" [chart]="chart" [fill]="fill" [plotOptions]="plotOptions" [xaxis]="xaxis">
    </apx-chart>
  </div>
</div>
