<div  class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div class="mt-6" >
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-1  sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0   sm:my-2">
        <!-- Avatar and name -->
        <div class="flex flex-col flex-auto items-center mb-4 min-w-0">
          <!-- <div class="flex items-center justify-between w-full">
            <div class="text-4xl font-extrabold tracking-tight cursor-pointer" (click)="goBack()">
              <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
            </div>
          </div> -->
          <div class="flex items-center justify-between w-full">
            <div class="">
              <div class=" flex items-center justify-between text-3xl font-semibold tracking-tight leading-8"> <mat-icon class="icon-size-6 text-3xl cursor-pointer text-black" (click)="goBack()" [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>  {{sprint_name}}</div>
              <div class="font-medium tracking-tight text-secondary"> </div>
            </div>
            <div class="mt-3 flex items-center ml-6">

              <button class="ml-4" mat-flat-button [color]="'primary'" (click)="feedbackForm()">
                <span class="ml-2 mr-1">Send Feedback Form</span>
              </button>

              <!-- Actions menu (visible on xs) -->
              <div class="sm:hidden">
                <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                  <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                  <button mat-menu-item>end Feedback Form</button>
                </mat-menu>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- Main -->
  <div  class="flex-auto -mt-px pt-4 mb-6 sm:pt-6">
    <div class="w-full max-w-screen-xl mx-auto">
      <div class="sm:px-6">

        <!-- First Row -->
        <div class="grid grid-cols-1 sm:grid-cols-2 mb-6 md:grid-cols-3 gap-6 w-full min-w-0">


          <!-- Defect Leakage -->
          <div class="flex rounded-md flex-col flex-auto    bg-card shadow  overflow-hidden">
            <app-defect-leakage [dataType]="qulitychare[0]"></app-defect-leakage>
          </div>


          <!-- Quality Percentage -->
          <div class="flex rounded-md  flex-col flex-auto  bg-card shadow  overflow-hidden">
            <app-defect-leakage [dataType]="qulitychare[1]"></app-defect-leakage>
          </div>


          <!-- Retest Ratio -->
          <div class="flex flex-col  rounded-md flex-auto   bg-card shadow  overflow-hidden">
            <app-retest-ratio></app-retest-ratio>
          </div>

        </div>

        <!-- Second Row -->
        <div class="grid grid-cols-1 sm:grid-cols-2 mb-6 md:grid-cols-3 gap-6 w-full min-w-0">


          <!-- Schedule Variance -->
          <div class="flex flex-col  rounded-md flex-auto col-span-2   bg-card shadow  overflow-hidden">
            <app-schedule-variance></app-schedule-variance>
          </div>
          <!-- Customer Happiness Score -->
          <app-customer-happiness-score></app-customer-happiness-score>
          <!-- Sprint Progress -->
        </div>
        <!-- Third row -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
          <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto  bg-card   overflow-hidden">
            <div class="flex flex-col sm:flex-row items-start p-2 border-b justify-between">
              <div class="text-lg font-medium tracking-tight leading-6 truncate">Sprint Progress</div>
            </div>
            <div class="grid  rounded-md  grid-cols-1 lg:grid-cols-2 grid-flow-row p-6 gap-6 w-full mt-8 sm:mt-4">
              <!-- Sprint Progress chart -->
              <div class="flex flex-col flex-auto">
                <div class="font-medium text-secondary"> </div>
                <div class="text-center flex flex-col flex-auto">
                  <h1>Work In Progress</h1>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
