<div class="flex flex-col flex-auto min-w-0">
    <div class="mt-6">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-1 sm:px-8">
            <div
                class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 sm:my-2"
            >
                <div class="flex flex-col flex-auto items-center min-w-0">
                    <div class="flex items-center justify-between w-full">
                        <div class="flex items-center">
                            <div
                                class="flex items-center justify-between text-3xl font-semibold tracking-tight leading-8"
                            >
                                <mat-icon
                                    class="icon-size-6 text-3xl cursor-pointer text-black"
                                    (click)="goBack()"
                                    [svgIcon]="'heroicons_outline:chevron-left'"
                                ></mat-icon>
                                {{ sprint?.name }}
                            </div>
                            <div class="sm:block ml-5">
                                <div class="min-w-4">
                                    <span
                                        class="py-1 px-2 rounded-full font-semibold text-white bg-yellow-500 ng-star-inserted"
                                        *ngIf="sprint?.status == 'COMPLETED'"
                                    >
                                        Completed
                                    </span>
                                    <span
                                        class="py-1 px-2 rounded-full font-semibold text-white bg-green-500 ng-star-inserted"
                                        *ngIf="sprint?.status == 'ACTIVE'"
                                    >
                                        Active
                                    </span>
                                </div>
                            </div>
                            <div
                                class="font-medium tracking-tight text-secondary"
                            ></div>
                        </div>
                        <div class="flex items-center ml-6">
                            <button
                                *ngIf="!disableButton"
                                class="ml-4"
                                mat-flat-button
                                [matTooltip]="'Mark as Complete'"
                                [color]="'primary'"
                                (click)="markAsComplete()"
                            >
                                <span class="ml-2 mr-1">Mark as Complete</span>
                            </button>
                            <button
                                *ngIf="
                                    userRole === 'ADMIN' || userRole === 'PM'
                                "
                                [disabled]="!this.formData"
                                class="ml-4"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="feedbackForm()"
                            >
                                <span class="ml-2 mr-1"
                                    >Send Feedback Form</span
                                >
                            </button>
                            <button
                                *ngIf="!this.formData"
                                [matTooltip]="'Attach Feedback Form'"
                                class="ml-4"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="attachForm()"
                            >
                                <span class="ml-2 mr-1">Attach Form</span>
                            </button>
                            <div class="sm:hidden">
                                <button
                                    [matMenuTriggerFor]="actionsMenu"
                                    mat-icon-button
                                >
                                    <mat-icon
                                        [svgIcon]="
                                            'heroicons_outline:dots-vertical'
                                        "
                                    ></mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item>
                                        end Feedback Form
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-px pt-4 mb-6 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="sm:px-8">
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 mb-6 md:grid-cols-3 gap-6 w-full min-w-0"
                >
                    <!-- Defect Leakage -->
                    <div
                        class="flex rounded-md flex-col flex-auto bg-card shadow overflow-hidden"
                    >
                        <app-defect-leakage
                            [dataType]="qulitychare[0]"
                        ></app-defect-leakage>
                    </div>

                    <!-- Quality Percentage -->
                    <div
                        class="flex rounded-md flex-col flex-auto bg-card shadow overflow-hidden"
                    >
                        <app-defect-leakage
                            [dataType]="qulitychare[1]"
                        ></app-defect-leakage>
                    </div>

                    <!-- Retest Ratio -->
                    <div
                        class="flex flex-col rounded-md flex-auto mb-auto bg-card shadow overflow-hidden"
                    >
                        <app-retest-ratio></app-retest-ratio>
                    </div>
                </div>

                <!-- Second Row -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 mb-6 md:grid-cols-3 gap-6 w-full min-w-0"
                >
                    <!-- Schedule Variance -->
                    <div
                        class="flex flex-col rounded-md flex-auto col-span-2 bg-card shadow overflow-hidden"
                    >
                        <!-- <app-schedule-variance></app-schedule-variance> -->
                    </div>
                    <!-- Customer Happiness Score -->
                    <!-- <app-customer-happiness-score></app-customer-happiness-score> -->
                    <!-- Sprint Progress -->
                </div>
                <!-- Third row -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 mb-6 md:grid-cols-2 gap-6 w-full min-w-0"
                >
                    <div class="flex flex-col flex-auto w-full">
                        <div
                            class="text-lg font-medium tracking-tight leading-6 truncate p-2"
                        >
                            ISSUE COUNT BY ASSIGNEE
                        </div>
                        <div class="bg-card shadow overflow-hidden rounded-md">
                            <app-sprint-issues></app-sprint-issues>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto w-full">
                        <div
                            class="text-lg font-medium tracking-tight leading-6 truncate p-2"
                        >
                            STORY POINTS BY ASSIGNEE
                        </div>
                        <div class="bg-card shadow overflow-hidden rounded-md">
                            <app-sprint-story-points></app-sprint-story-points>
                        </div>
                    </div>
                </div>
                <!-- fourth row -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-1 mb-6 md:grid-cols-1 gap-6 w-full min-w-0"
                >
                    <div class="flex flex-col flex-auto w-full">
                        <div
                            class="text-lg font-medium tracking-tight leading-6 truncate p-2"
                        >
                            NUMBER OF ISSUES BY ISSUE TYPE
                        </div>
                        <div
                            class="bg-card shadow overflow-hidden rounded-md w-full"
                        >
                            <app-sprint-issues-type></app-sprint-issues-type>
                        </div>
                    </div>
                </div>

                <!-- fourth row -->
                <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
                >
                    <div
                        class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto bg-card overflow-hidden"
                    >
                        <div
                            class="flex flex-col sm:flex-row items-start p-2 border-b justify-between"
                        >
                            <div
                                class="text-lg font-medium tracking-tight leading-6 truncate"
                            >
                                Sprint Progress
                            </div>
                        </div>
                        <div
                            class="grid rounded-md grid-cols-1 lg:grid-cols-1 grid-flow-row px-6 gap-6 w-full"
                        >
                            <!-- Sprint Progress chart -->

                            <div class="text-center flex flex-col flex-auto">
                                <app-spring-progress></app-spring-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
