<div  class="flex flex-col flex-auto   overflow-hidden">
    <div class="p-2 border-b">
        <div class="flex items-start justify-between ">
            <div class="text-lg font-medium tracking-tight leading-6 truncate"> Schedule Variance
            </div>
            <div class="ml-2">
                <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button [matMenuTriggerFor]="conversionMenu">
                    <span class="font-medium text-sm text-secondary">{{chartChange}} </span>
                </button>
                <mat-menu #conversionMenu="matMenu">
                    <button (click)="selectvalue('Original Time Estimate')" mat-menu-item>Original Time Estimate</button>
                    <button (click)="selectvalue('Story Points')" mat-menu-item>Story Points</button>
                </mat-menu>
            </div>
            
        </div>
    </div>
    <div  class="flex flex-col p-3 mt-2">
        <div id="chart"></div>
    </div>
</div>
