.inventory-grid {
  //grid-template-columns: 48px 150px auto 112px 72px 60px;
  //this is for a mobile
  grid-template-columns: 48px 150px 60px;

  @screen sm {
    grid-template-columns: 40px 200px 150px auto 112px 100px 50px;
  }

  @screen md {
    grid-template-columns: 40px 200px 150px auto 112px 130px 55px;
  }

  @screen lg {
    grid-template-columns: 40px 200px 150px auto 112px 150px 70px;
  }
}