<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <!-- Header -->
    <div
      class="relative flex flex-col sm:flex-row md:flex-col  justify-between py-8 px-6 md:px-8 border-b bg-card dark:bg-transparent">
      <!-- Loader -->
      <div *ngIf="isLoading" class="absolute inset-x-0 bottom-0">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <!-- Title -->
      <div class="text-4xl font-extrabold tracking-tight leading-none">Resources</div>
      <!-- Actions -->
      <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
        <!-- Search -->
        <div class="flex-auto">
          <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
            <mat-icon [svgIcon]="'heroicons_solid:search'" class="icon-size-5" matPrefix></mat-icon>
            <input [autocomplete]="'off'" [placeholder]="'Search for resources'" matInput>
          </mat-form-field>
        </div>
        <!-- toggle button -->
        <mat-form-field class=" ml-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
          <mat-select [formControl]="technologys" panelClass="multiple-select-style" [disableOptionCentering]="true" [placeholder]="'Choose technology'" multiple>
            <mat-select-trigger>
              {{technologys.value?.[0] || ''}}
              <span *ngIf="(technologys.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(technologys.value?.length || 0) - 1}} {{technologys.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let technology of technologyLIst" [value]="technology">{{technology}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- experience -->
        <mat-form-field class=" ml-4 fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-50">
          <mat-select [placeholder]="'Choose expriences'" [disableOptionCentering]="true">
            <!-- <mat-option>None</mat-option> -->
            <mat-option *ngFor="let expriences of expriences" [value]="expriences">{{expriences}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Add product button -->
        <button [color]="'primary'" [matMenuTriggerFor]="listCard07Menu" class="ml-4" mat-flat-button>
          <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
          <span class="ml-2 mr-1">Add Resource</span>
        </button>
  
        <mat-menu #listCard07Menu="matMenu">
          <button (click)="gotoAddResources()" mat-menu-item>Single Upload</button>
          <button mat-menu-item>CSV Upload</button>
        </mat-menu>
      </div>
    </div>
  
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
  
      <!-- Products list -->
      <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto" infiniteScroll
        [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="handleResourcesScroll()">
        <!-- <ng-container *ngIf="(resources | async) as resources"> -->
        <ng-container *ngIf=" totalRecored > 0; else noProducts">
          <div *ngIf="resources.length > 0" class="grid">
            <!-- Header -->
            <div
              class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
              matSortDisableClear>
              <div></div>
              <div>
                Name
              </div>
              <div class="hidden md:block">Technology</div>
              <div class="hidden sm:block">
                Team
              </div>
              <div class="hidden lg:block">
                Experience
              </div>
              <div>
                Active
              </div>
            </div>
            <!-- Rows -->
            <!-- <ng-container *ngIf="(resources | async) as resources"> -->
            <ng-container *ngFor="let resources of resources">
              <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
  
                <!-- Image -->
                <div class="flex items-center">
                  <div
                    class="relative flex flex-0 items-center  justify-center w-12 h-12 mr-6 rounded-full overflow-hidden border">
                    <!-- <img
                        class="w-8"
  
                        src="assets/images/avatars/male-07.jpg"> -->
                    <!-- <div class="rounded-full"> -->
                    <img [src]="resources.image" alt="Contact avatar" class="object-cover w-full h-full rounded-full" />
                    <!-- </div> -->
                    <!-- <div
                        class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                        *ngIf="!product.thumbnail">
                        NO THUMB
                    </div> -->
                  </div>
                </div>
  
                <!-- SKU -->
                <div>
                  <div class="truncate"> {{resources.firstName}} {{resources.lastName}}</div>
                  <div class="truncate"> {{resources.email}}</div>
                </div>
  
                <!-- Name -->
                <div class="hidden md:block  truncate">
                  {{resources.technologyCtrl}}
                </div>
  
                <!-- Price -->
                <div class="hidden sm:block">
                  {{resources.team}}
                </div>
  
                <!-- Stock -->
                <div class="hidden lg:flex items-center">
                  <div class="min-w-4">{{resources.year > "1" ? resources.year + " Years" : resources.year + " Year" }}
                    {{resources.month > "1" ? ", " + resources.month + " Months" : ", " + resources.month + " Month"}}
                  </div>
                </div>
  
                <!-- Active -->
                <div class="sm:block">
                  <mat-icon class="text-gray-400 icon-size-5" svgIcon="heroicons_outline:pencil"></mat-icon>
                  <mat-icon class="ml-4 text-gray-400 icon-size-5" svgIcon="heroicons_outline:trash"></mat-icon>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <!-- </ng-container> -->
        <ng-template #noProducts>
          <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no Resources</div>
        </ng-template>
      </div>
    </div>
  </div>