.inventory-grid {
    grid-template-columns: 40px 18% auto 23% 8% 10% 5%;
}
.filter-content {
    position: absolute;
    top: 4rem;
    right: 0;
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}
