<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b bg-card dark:bg-transparent">
        <div class="text-4xl font-extrabold tracking-tight">
            {{ pageTitle | titlecase }}
            <span *ngIf="pageTitle === 'add'">New</span> Reporsitory
        </div>
    </div>
    <div *ngIf="!initialLoading" class="flex flex-row w-full h-full overflow-y-auto">
        <div class="w-1/4 border-r-0 bg-default sticky top-0">
            <div class="p-6 lg:py-8 lg:pl-4 lg:pr-0 h-full">
                <mat-vertical-stepper class="pr-sidebar h-full" [linear]="true" #verticalStepper
                    [selectedIndex]="this.selectedIndex" (selectionChange)="selectionChange($event)">
                    <mat-step label="Choose Technology"  [completed]="isFormType"> </mat-step>

                    <mat-step label="Create Repository" [completed]="!createBitbucketProjectFrom.invalid"> </mat-step>

                    <mat-step label="Create Ansible Script" [completed]="isFileUploaded"> </mat-step>

                    <mat-step label="Review Repository"> </mat-step>
                </mat-vertical-stepper>
            </div>
        </div>
        <div class="flex flex-col flex-auto">
            <button mat-icon-button class="hidden" (click)="toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
            <!-- Choose Technology -->
            <div *ngIf="selectedIndex === 0 && !initialLoading" class="flex flex-col flex-auto w-full">
                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-4">
                    <div class="grid grid-cols-1 sm:grid-cols-2 mb-6 mt-4 md:grid-cols-3 gap-6 w-full min-w-0">
                        <!-- REACT NATIVE -->
                        <div (click)="isFormType = true" 
                            class="flex rounded-md flex-col flex-auto text-center py-16 bg-card shadow overflow-hidden cursor-pointer"
                            (click)="getTechnology('react-native')">
                            REACT NATIVE
                        </div>

                        <!-- ANGULAR-->
                        <div (click)="isFormType = true"  
                            class="flex rounded-md flex-col flex-auto text-center py-16 bg-card shadow overflow-hidden cursor-pointer" 
                            (click)="getTechnology('angular')">
                            ANGULAR
                        </div>

                        <!-- DJANGO-->
                        <div (click)="isFormType = true"
                            class="flex flex-col text-center py-16 rounded-md flex-auto mb-auto bg-card shadow overflow-hidden cursor-pointer"
                            (click)="getTechnology('django')">
                            DJANGO
                        </div>

                        <!-- REACT JS-->
                        <div  (click)="isFormType = true"
                            class="flex flex-col text-center py-16 rounded-md flex-auto mb-auto bg-card shadow overflow-hidden cursor-pointer"
                            (click)="getTechnology('react-js')">
                            REACT JS
                        </div>

                        <!-- JAVA-->
                        <div  (click)="isFormType = true" 
                            class="flex flex-col text-center py-16 rounded-md flex-auto mb-auto bg-card shadow overflow-hidden cursor-pointer"
                            (click)="getTechnology('java')">
                            JAVA
                        </div>

                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!-- Create Bitbucket Project -->
            <div *ngIf="selectedIndex === 1" class="flex flex-col flex-auto w-full">
                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-4">
                    <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-4 bg-card dark:bg-transparent">
                        <form [formGroup]="createBitbucketProjectFrom"
                            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
                            <mat-form-field class="w-full sm:w-140 mt-4 mb-2 sm:mt-0" [floatLabel]="'always'">
                                <mat-label>Bitbucket Project Name</mat-label>
                                <input type="text" placeholder="Bitbucket Project Name here."
                                    aria-label="Bitbucket Project Name" matInput formControlName="bitbucketProjectName"
                                    [disabled]="true" />
                            </mat-form-field>
                            <mat-form-field class="w-full sm:w-140 mt-4 mb-2 sm:mt-0" [floatLabel]="'always'">
                                <mat-label>Project Name</mat-label>
                                <span matSuffix>-{{ formType }}</span>
                                <input matInput [placeholder]="'Project Name here.'"
                                    #createBitbucketProjectFromProjectName formControlName="projectName"
                                    maxlength="50" />
                                <mat-error *ngIf="
                                        createBitbucketProject['projectName']
                                            .errors &&
                                        createBitbucketProject['projectName']
                                            ?.invalid &&
                                        createBitbucketProject['projectName']
                                            ?.touched
                                    ">
                                    <div *ngIf="
                                            createBitbucketProject[
                                                'projectName'
                                            ].errors['required']
                                        ">
                                        Project is mandatory
                                    </div>
                                </mat-error>
                            </mat-form-field>
                            <div *ngIf="formType != 'react-native'"  class="sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                            <div class="chip-input w-full font-extrabold tracking-tight ng-tns-c274-3859">
                                <mat-form-field [floatLabel]="'always'" appearance="fill"
                                    class="example-chip-list w-full flex-0 mb-2">
                                    <mat-label>Portal Name *</mat-label>
                                    <mat-chip-list #portalChipList  formControlName="portalNameOrMicroserviceName">
                                        <input    
                                        placeholder="New Portal Name..."
                                        #portalNameOrMicroserviceNameInput
                                        formControlName="portalNameOrMicroserviceName"
                                        [matChipInputFor]="portalChipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="addPortal($event)"
                                        class="w-full" />
                                    </mat-chip-list>
                                    <mat-chip-list #portalChipList aria-label="portalNameOrMicroserviceName selection" class="mb-2"
                                        >
                                        <mat-chip
                                        *ngFor="let portalNameOrMicroserviceName of portalNameOrMicroserviceNames"
                                        [selectable]="selectable"
                                        [removable]="removable"
                                        (removed)="removePortal(portalNameOrMicroserviceName)">
                                        {{portalNameOrMicroserviceName}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                    <mat-error>At least add one portal name
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            </div>
                            <div class="sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                                <div class="chip-input w-full font-extrabold tracking-tight ng-tns-c274-3859">
                                    <mat-form-field [floatLabel]="'always'" appearance="fill"
                                        class="example-chip-list w-full flex-0 mb-2">
                                        <mat-label>Repository *</mat-label>
                                        <mat-chip-list #chipListRepository formControlName="repositoryName">
                                            <input [disabled]="isRepository" placeholder="Search repository..." #repositoryInput
                                                formControlName="repositoryName" [matAutocomplete]="
                                                    autoRepository
                                                " [matChipInputFor]="
                                                    chipListRepository
                                                " [matChipInputSeparatorKeyCodes]="
                                                    separatorKeysCodes
                                                " [matChipInputAddOnBlur]="
                                                    addOnBlurRepository
                                                " (matChipInputTokenEnd)="
                                                    addRepository($event)
                                                " (click)="changeProject($event)" class="w-full" />
                                        </mat-chip-list>
                                        <mat-autocomplete #autoRepository="matAutocomplete" (optionSelected)="
                                                selectedRepository($event)
                                            ">
                                            <mat-option *ngFor="
                                                    let repository of filteredRepositories
                                                        | async
                                                " [value]="repository">
                                                {{ repository }}</mat-option>
                                        </mat-autocomplete>
                                        <mat-chip-list #chipListRepository class="mb-2"
                                            aria-label="repository selection">
                                            <mat-chip *ngFor="
                                                    let repository of repositories
                                                " [selectable]="selectable" [removable]="removable" (removed)="
                                                    removeRepository(repository)
                                                ">
                                                {{ repository }}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <mat-error>At least add one repository
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                                <div class="chip-input w-full font-extrabold tracking-tight ng-tns-c274-3859">
                                    <mat-form-field [floatLabel]="'always'" appearance="fill"
                                        class="example-chip-list w-full flex-0 mb-2">
                                        <mat-label>Branch Or Pattern *</mat-label>
                                        <mat-chip-list #chipListBranch formControlName="branchOrPattern">
                                            <input placeholder="Search branch..." #branchInput
                                                formControlName="branchOrPattern" [matAutocomplete]="autoBranch"
                                                [matChipInputFor]="chipListBranch"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlurBranch"
                                                (matChipInputTokenEnd)="addBranch($event)" class="w-full" />
                                        </mat-chip-list>
                                        <mat-autocomplete #autoBranch="matAutocomplete"
                                            (optionSelected)="selectedBranch($event)">
                                            <mat-option *ngFor="let branch of filteredBranches | async"
                                                [value]="branch">
                                                {{ branch }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-chip-list #chipListBranch class="mb-2" aria-label="branch selection">
                                            <mat-chip *ngFor="let branch of branches" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeBranch(branch)">
                                                {{ branch }}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <mat-error>At least add one branch</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                                <div class="chip-input w-full font-extrabold tracking-tight ng-tns-c274-3859">
                                    <mat-form-field [floatLabel]="'always'" appearance="fill"
                                        class="example-chip-list w-full flex-0 mb-2">
                                        <mat-label>Developer *</mat-label>
                                        <mat-chip-list #chipListDeveloper formControlName="developer">
                                            <input placeholder="New developer..." #developerInput
                                                [formControl]="developer" formControlName="developer"
                                                [matAutocomplete]="autoDeveloper" [matChipInputFor]="chipListDeveloper"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="addDeveloper($event)" class="w-full" />
                                        </mat-chip-list>
                                        <mat-autocomplete #autoDeveloper="matAutocomplete" (optionSelected)="
                                                selectedDeveloper($event)">
                                            <mat-option *ngFor="let developer of filteredDevelopers | async
                                                " [value]="developer.email">
                                                {{ developer.email }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-chip-list #chipListDeveloper class="mb-2">
                                            <mat-chip *ngFor="
                                                    let developer of developers;
                                                    let selectIndex = index
                                                " [selectable]="selectable" [removable]="removable" (removed)="
                                                    removeDeveloper(
                                                        developer,
                                                        selectIndex
                                                    )
                                                ">
                                                <div *ngFor="
                                                        let developerObj of allDevelopers
                                                    ">
                                                    <div *ngIf="
                                                            developerObj.email ==
                                                            developer
                                                        ">
                                                        {{ developerObj.email }}
                                                    </div>
                                                </div>
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <mat-error>At least add one developer
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="error-msg text-md mb-2">
                                        <mat-error *ngIf="emailInvalid">Invalid email
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                            <div class="sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                                <div class="chip-input w-full font-extrabold tracking-tight ng-tns-c274-3859">
                                    <mat-form-field [floatLabel]="'always'" appearance="fill"
                                        class="example-chip-list w-full flex-0 mb-2">
                                        <mat-label>Code Reviewer & PM *</mat-label>
                                        <mat-chip-list #chipListCodeReviewer formControlName="codeReviewerAndPm">
                                            <input placeholder="Search Code Reviewer & PM..." #codeReviewerInput
                                                formControlName="codeReviewerAndPm" [matAutocomplete]="
                                                    autoCodeReviewer
                                                " [matChipInputFor]="
                                                    chipListCodeReviewer
                                                " [matChipInputSeparatorKeyCodes]="
                                                    separatorKeysCodes
                                                " [matChipInputAddOnBlur]="
                                                    addOnBlur
                                                " (matChipInputTokenEnd)="
                                                    addCodeReviewer($event)
                                                " class="w-full" />
                                        </mat-chip-list>
                                        <mat-autocomplete #autoCodeReviewer="matAutocomplete" (optionSelected)="
                                                selectedCodeReviewer($event)
                                            ">
                                            <mat-option *ngFor="
                                                    let codeReviewer of filteredCodeReviewers
                                                        | async
                                                " [value]="codeReviewer">
                                                {{ codeReviewer.display_name }}
                                            </mat-option>
                                        </mat-autocomplete>

                                        <mat-chip-list #chipListCodeReviewer class="mb-2"
                                            aria-label="repository selection">
                                            <mat-chip *ngFor="
                                                    let codeReviewer of codeReviewers;
                                                    let indx = index
                                                " [selectable]="selectable" [removable]="removable" (removed)="
                                                    removeCodeReviewer(
                                                        codeReviewer,
                                                        indx
                                                    )
                                                ">
                                                {{ codeReviewer.display_name }}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                        </mat-chip-list>
                                        <mat-error>At least add one Code Reviewer & PM
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
                                <div class="flex items-center ml-auto mt-4 sm:mt-0">
                                    <button mat-stroked-button type="button" (click)="goBack(0)">
                                        Back
                                    </button>
                                    <button class="order-first sm:order-last ml-4" mat-flat-button [color]="'primary'"
                                        (click)="submitBitbucketProject()">
                                        Next 
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Ansible Script -->

            <div *ngIf="showStep === 3" class="flex flex-col flex-auto w-full overflow-y-auto">
                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-4">
                    <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-4 bg-card dark:bg-transparent">
                        <form 
                            class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
                           
                            <div class=" sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4 ">
                                <div class="shrink-0 items-center mt-6 sm:mt-0 ng-tns-c274-3859 mb-4 max-w-full">
                                    <div class="mb-2 ">Sprint URL</div>
                                     <div class="text-secondary flex items-center" *ngIf="uploadResourceUrl"><a class="break-all" href="{{uploadResourceUrl}}" target="_blank" >{{uploadResourceUrl}}</a>  <div class="ml-4 cursor-pointer"><mat-icon class="text-primary" [svgIcon]="'heroicons_outline:x'" (click)="deleteURL()"></mat-icon></div></div>
                                    <button class="min-w-27" *ngIf="!uploadResourceUrl" mat-raised-button color="primary"
                                            (click)="onClick($event)"
                                    >
                                    <span  *ngIf="!uploadInProcess">Upload</span>
                                    <mat-progress-spinner class="min-w-65" 
                                    *ngIf="uploadInProcess"
                                    [diameter]="24"
                                    [mode]="'indeterminate'" class="px-2"></mat-progress-spinner>
                                </button>
                                    <input #fileUpload class="d-none" type="file" accept=".yml" (change)="uploadChange($event)" />
                                     <div class="text-sm text-red-600 mt-1" *ngIf="!isFileUploaded">Upload Script URL</div>
                                </div>
                        </div>
                         
                            <div class=" sm:w-140 flex flex-col sm:flex-row flex-0 col-span-4 sm:col-span-4">
                                <div class="">  <a class="text-primary .mt-8p"(click)="downloadYmlFile()"> Download Template</a></div>
                                <div class="text-left ml-auto"><a class="text-primary .mt-8p" (click)="sendEmail()"> Email Template</a></div>
                             </div>
                            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
                                <div class="flex items-center ml-auto mt-4 sm:mt-0">
                                    <button mat-stroked-button type="button" (click)="goBack(1)">
                                        Back
                                    </button>
                                    <button  type="button" class="order-first sm:order-last ml-4"  mat-flat-button
                                    [color]="'accent'" (click)="saveAsDraft()" >
                                        Save as Draft
                                    </button>
                                    <button class="order-first sm:order-last ml-4" mat-flat-button [color]="'primary'"
                                        (click)="submitAnsibleScript()">
                                        Next 
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Review your project -->
            <div *ngIf="showStep === 4 && !initialLoading" class="flex flex-col flex-auto w-full overflow-y-auto">
                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-4">
                    <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-4 bg-card dark:bg-transparent">
                        <!-- Review form -->
                        <div  class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
                                <ng-container  >
                                    <div class="flex sm:items-center">
                                        <span class="ml-2">Bitbucket Project Name:</span>
                                            <div class="ml-4 leading-6">
                                               {{bitbucketRepositoryName}}
                                            </div>
                                    </div>
                                </ng-container>
                                <ng-container  >
                                    <div class="flex sm:items-center mt-4">
                                        <span class="ml-2 ">Project Name:</span>
                                            <div class="ml-4 leading-6">
                                               {{createBitbucketProjectFrom.value.projectName}}
                                            </div>
                                    </div>
                                </ng-container>
                                <div class="flex sm:items-center mt-2">
                                    <span class="ml-2">
                                        Repository:</span>
                                    <ng-container *ngIf="repositories.length > 0" >
                                        <div class="flex flex-wrap items-center mt-2 ml-4">
                                            <!-- Tag -->
                                            <ng-container *ngFor="let repository of repositories">
                                                <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                    <span class="text-sm font-medium whitespace-nowrap">{{repository}}</span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="flex sm:items-center mt-2">
                                    <span class="ml-2">
                                        Branch Or Pattern:</span>
                                    <ng-container *ngIf="branches.length > 0" >
                                        <div class="flex flex-wrap items-center mt-2 ml-4">
                                            <!-- Tag -->
                                            <ng-container *ngFor="let branch of branches">
                                                <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                    <span class="text-sm font-medium whitespace-nowrap">{{branch}}</span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="flex sm:items-center mt-2">
                                    <span class="ml-2">
                                        Developer:</span>
                                    <ng-container *ngIf="developers.length > 0" >
                                        <div class="flex flex-wrap items-center mt-2 ml-4">
                                            <!-- Tag -->
                                            <ng-container *ngFor="let developer of developers">
                                                <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                    <span class="text-sm font-medium whitespace-nowrap">{{developer}}</span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="flex sm:items-center mt-2">
                                    <span class="ml-2">
                                        Code Reviewer & PM:</span>
                                    <ng-container *ngIf="codeReviewers.length > 0" >
                                        <div class="flex flex-wrap items-center mt-2 ml-4">
                                            <!-- Tag -->
                                            <ng-container *ngFor="let codeReviewer of codeReviewers">
                                                <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                    <span class="text-sm font-medium whitespace-nowrap">{{codeReviewer.display_name}}</span>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>

                            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">

                                <div class="flex items-center ml-auto mt-4 sm:mt-0">
                                    <button mat-stroked-button type="button" (click)="goBack(2)">
                                        Back
                                    </button>
                                    <button class="order-first sm:order-last ml-4" mat-flat-button [color]="'primary'"
                                        (click)="submit()">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>