<div *ngIf="!initialLoading" class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="w-full text-center">
                <div
                    class="mt-2 text-3xl font-extrabold tracking-tight leading-tight"
                >
                    {{ projectName | titlecase}} | Project Feedback Form
                </div>
            </div>
            <!-- Form -->
            <div
                class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card"
            >
                <!-- Alert -->
                <div class="formio-render">
                    <formio [form]="form" (submit)="submit($event)"></formio>
                </div>
            </div>
        </div>
    </div>
</div>

