
 <ng-container  *ngIf="!initialLoading && this.resultProgress.length > 0">
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [fill]="chartOptions.fill"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"
          [legend]="chartOptions.legend"
        ></apx-chart>
      </div>
 </ng-container>
  <ng-container *ngIf="!initialLoading && this.resultProgress.length == 0">
    <div class="grid grid-cols-1 sm:grid-cols-1 mb-6 md:grid-cols-1 gap-6 w-full min-w-0">
    <div class="w-full p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
        Sprint Progress not found
    </div>
    </div>
  </ng-container>
  <ng-container *ngIf="initialLoading ">
    <div class="grid grid-cols-1 sm:grid-cols-1 mb-6 md:grid-cols-1 gap-6 w-full min-w-0">
    <div class="w-full p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
        Loading.....
    </div>
    </div>
  </ng-container>

