.inventory-grid {
    //grid-template-columns: 48px 150px auto 112px 72px 60px;
    //this is for a mobile
    grid-template-columns:  150px 60px;
  
    @screen sm {
      grid-template-columns:  300px 250px auto 150px;
    }
  
    @screen md {
      grid-template-columns:  300px 250px auto 150px ;
    }
  
    @screen lg {
      grid-template-columns:  300px 250px auto 150px;
    }
  }