<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <div class="flex-auto">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
      <div
        class="relative flex flex-col sm:flex-row md:flex-col justify-between p-6 border-b bg-card dark:bg-transparent">
        <div class="flex items-center">
          <div class="ml-auto">
            <button [color]="'primary'" class="ml-4" mat-flat-button (click)="createRepository()">
              <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
              <span class="ml-2 mr-1">Create Repository</span>
            </button>
          </div>
        </div>
        <div class="flex items-center  sm:mt-0 ">
          <div class="flex-auto d-none">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
              <mat-icon [svgIcon]="'heroicons_solid:search'" class="icon-size-5" matPrefix></mat-icon>
              <input [autocomplete]="'off'" [placeholder]="'Search for repository'" matInput />
            </mat-form-field>
          </div>

        </div>
      </div>

      <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto  overflow-hidden sm:overflow-y-auto  overflow-x-auto">
          <ng-container *ngIf="!initialLoading && totalRecord > 0;">
            <div *ngIf="totalRecord > 0" class="grid ">
              <div
                class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                matSortDisableClear>
                <div>Name</div>
                <div class="hidden md:block">Technology</div>
                <div class="hidden lg:block">Created At</div>
                <div>Created By</div>
                <div>Action</div>
              </div>
              <ng-container *ngFor="let repository of repoData?.repositories">
                <div  class="cursor-pointer inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                  <div class="" (click)="repoDetails(repository)">
                    <div class="truncate">
                      {{ repository?.name  }}
                    </div>
                  </div>

                  <div class="hidden md:block truncate" (click)="repoDetails(repository)">
                    {{ repository?.technology.split('_').join(' ') | titlecase  }}
                  </div>
                  <div class="hidden lg:flex items-center" (click)="repoDetails(repository)">
                    <div class="min-w-4">
                      {{
                      repository?.createdAt | date
                      }}
                    </div>
                  </div>
                  <div class="sm:block" (click)="repoDetails(repository)">
                    <div class="min-w-4">
                      {{
                      repository?.createdByName
                      }}
                    </div>
                  </div>

                   <!-- Active -->
                   <div class="sm:block">
                    <div class="min-w-4">
                      <span *ngIf="repository?.status == 'ACTIVE'" class="cursor-pointer py-1 px-3 rounded-full font-semibold text-white bg-green-800 ng-star-inserted">
                          Active
                      </span>
                      <span *ngIf="repository?.status == 'DRAFT'" class="cursor-pointer py-1 px-3 rounded-full font-semibold text-white bg-orange-600 ng-star-inserted">
                        Draft
                      </span>
                    <span class="" *ngIf="repository?.status == 'draft'" >
                      <mat-icon (click)="editDraft(repository?.id)" [matTooltip]="'Edit Draft'" class="text-gray-400 icon-size-5 cursor-pointer" svgIcon="heroicons_outline:pencil"
                          ></mat-icon>
                    </span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="!initialLoading && totalRecord == 0;">
            <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
              Looks like there is no repository created for selected project
            </div>
          </ng-container>
          <ng-container *ngIf="initialLoading">
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
              Loading......
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>