<div class="">
    <div
        matDialogTitle
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -mt-6 -mx-6"
    >
        <div class="text-lg font-medium">Resource CSV Upload</div>
        <button
            *ngIf="!submitInProgress"
            mat-icon-button
            (click)="cancel()"
            [tabIndex]="-1"
        >
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <div class="mt-3">
        <div class="text-primary">Upload CSV</div>
        <button
            class="min-w-30"
            mat-raised-button
            color="primary"
            (click)="onClick()"
            *ngIf="csvPreSignedUrl === null"
            [disabled]="submitInProgress"
        >
            <span>Upload</span>
            <mat-progress-spinner
                *ngIf="submitInProgress"
                [diameter]="24"
                [mode]="'indeterminate'"
                class="px-3 ml-3"
            ></mat-progress-spinner>
        </button>
        <div *ngIf="csvPreSignedUrl !== null" class="flex item-center">
            <span class="text-primary font-semibold truncate">{{
                csvPreSignedUrl
            }}</span>
            <div class="cursor-pointer">
                <mat-icon
                    class="text-primary"
                    [svgIcon]="'heroicons_outline:x'"
                    (click)="removeUploadedFile()"
                    [matTooltip]="'remove file'"
                ></mat-icon>
            </div>
        </div>
        <input
            #fileUpload
            class="d-none"
            type="file"
            accept=".csv"
            (change)="uploadChange($event)"
        />
    </div>

    <div class="mt-3">
        <a href="{{ csvTemplateUrl }}" class="text-primary underline"
            >Download Resource CSV Template</a
        >
    </div>

    <div class="sm:block mt-8">
        <div class="min-w-4">
            <span
                *ngIf="resourceUploadSuccessCount !== 0"
                class="font-semibold text-green-500 mr-2"
            >
                {{ resourceUploadSuccessCount }} Resources Accepted
            </span>
            <span
                *ngIf="resourceUploadSkipCount !== 0"
                class="font-semibold text-red-500 mr-2"
            >
                {{ resourceUploadSkipCount }} Resources Skipped
            </span>
        </div>
    </div>

    <ng-container *ngIf="skippedResources?.length > 0 && !submitInProgress">
        <div
            class="flex flex-col flex-auto h-screen max-h-100 mt-6"
            *ngIf="skippedResources?.length > 0"
        >
            <span class="text-l text-gray-500 mb-1">Skipped Records</span>
            <div
                class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto overflow-x-auto"
            >
                <div
                    class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 px-2"
                    matSortDisableClear
                >
                    <div>Name</div>
                    <div>Email</div>
                </div>
                <ng-container *ngIf="true">
                    <div class="grid shadow">
                        <ng-container *ngFor="let resource of skippedResources">
                            <div
                                class="inventory-grid grid items-center gap-4 py-3 border-b bg-white px-2"
                            >
                                <div class="hidden md:block truncate">
                                    {{
                                        resource?.firstName
                                            ? resource?.firstName
                                            : "Not Available"
                                    }}
                                </div>
                                <div class="hidden md:block truncate">
                                    {{
                                        resource?.email
                                            ? resource?.email
                                            : "Not Available"
                                    }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <div mat-dialog-actions class="flex flex-row justify-end">
        <button
            mat-stroked-button
            [disabled]="submitInProgress"
            (click)="cancel()"
        >
            Cancel
        </button>
        <button
            mat-flat-button
            color="primary"
            [disabled]="submitInProgress"
            (click)="submit()"
        >
            Submit
            <mat-progress-spinner
                *ngIf="submitInProgress"
                class="ml-3"
                mode="indeterminate"
                diameter="24"
            ></mat-progress-spinner>
        </button>
    </div>
</div>
