<div class="flex flex-col flex-auto   overflow-hidden">
  <div class="p-2 border-b">
    <div class="flex items-start justify-between ">
      <div class="text-lg font-medium tracking-tight leading-6 truncate"> Retest Ratio
      </div>
    </div>
  </div>
  <div class="flex flex-col  p-6 items-center mt-2">
    <div class="flex items-center  sm:mx-8  ">
      <div class="flex flex-col flex-auto ">
        <apx-chart [series]="series" [chart]="chart" [legend]="legend" [plotOptions]="plotOptions"></apx-chart>
      </div>
    </div>
  </div>
</div>