<div class="ml-6">
    <div class="text-xl font-semibold mt-2 mb-4">Cost type</div>

    <form [formGroup]="fixedCostForm">
        <div class="flex flex-col w-full">
            <div class="w-[200px]">
                <mat-form-field class="w-full">
                    <mat-label>Select cost type</mat-label>
                    <mat-select
                        formControlName="costType"
                        name="food"
                        (selectionChange)="costTypeChange($event)"
                    >
                        <mat-option
                            *ngFor="let type of costTypes"
                            [value]="type"
                        >
                            {{ type?.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="w-[200px]"
                *ngIf="
                    fixedCostForm?.get('costType')?.value?.value === 'fixedCost'
                "
            >
                <mat-form-field class="w-full">
                    <mat-label>Enter cost</mat-label>
                    <input
                        type="number"
                        matInput
                        formControlName="costInput"
                        placeholder="Enter cost"
                    />
                    <mat-error
                        *ngIf="
                            fixedCostForm?.get('costInput').hasError('required')
                        "
                    >
                        Cost is <strong>required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="
                            fixedCostForm?.get('costInput')?.hasError('pattern')
                        "
                    >
                        <div>Please enter valid <strong>cost</strong></div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>

    <form [formGroup]="timeAndMaterialForm">
        <div
            class="w-[200px]"
            *ngIf="
                fixedCostForm?.get('costType')?.value?.value ===
                'timeAndMaterial'
            "
        >
            <mat-form-field class="w-full">
                <mat-label>Nature of cost</mat-label>
                <mat-select
                    formControlName="type"
                    name="food"
                    (selectionChange)="costTypeChange($event)"
                >
                    <mat-option
                        *ngFor="let type of timeAndMaterialType"
                        [value]="type"
                    >
                        {{ type?.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div
            class="w-[200px]"
            *ngIf="
                timeAndMaterialForm?.get('type')?.value?.value === 'flatRate' &&
                fixedCostForm?.get('costType')?.value?.value ===
                    'timeAndMaterial'
            "
        >
            <mat-form-field class="w-full">
                <mat-label>Enter cost</mat-label>
                <input
                    type="number"
                    matInput
                    formControlName="costInput"
                    placeholder="Enter cost"
                />
                <mat-error
                    *ngIf="timeAndMaterialForm?.get('costInput').hasError('required')"
                >
                    Cost is <strong>required</strong>
                </mat-error>
                <mat-error
                    *ngIf="timeAndMaterialForm?.get('costInput')?.hasError('pattern')"
                >
                    <div>Please enter valid <strong>cost</strong></div>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
