<div
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -m-6"
>
    <div class="text-lg font-medium">Add User</div>
    <button mat-icon-button (click)="cancel()" [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
    </button>
</div>
<form [formGroup]="addUserForm" class="mt-12">
    <mat-form-field
        class="w-full mb-2 mt-4 sm:mt-0 userlist"
        id="userlist"
        [floatLabel]="'always'"
    >
        <mat-label>First Name</mat-label>
        <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
            class="inputlist"
        />
        <mat-error *ngIf="addUserForm?.get('firstName')?.hasError('required')">
            <div>First name is mandatory</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field
        class="w-full mb-2 mt-4 sm:mt-0 userlist"
        id="userlist"
        [floatLabel]="'always'"
    >
        <mat-label>Last Name</mat-label>
        <input
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            class="inputlist"
        />
        <mat-error *ngIf="addUserForm?.get('lastName')?.hasError('required')">
            <div>Last name is mandatory</div>
        </mat-error>
    </mat-form-field>

    <mat-form-field
        class="w-full mb-2 mt-4 sm:mt-0 userlist"
        id="userlist"
        [floatLabel]="'always'"
    >
        <mat-label>Email</mat-label>
        <input
            matInput
            placeholder="Email"
            formControlName="email"
            class="inputlist"
        />
        <mat-error *ngIf="addUserForm?.get('email')?.hasError('required')">
            <div>Email is mandatory</div>
        </mat-error>
        <mat-error
            *ngIf="
                addUserForm?.get('email')?.hasError('email') &&
                !addUserForm?.get('email')?.hasError('required')
            "
        >
            <div>Invalid Email</div>
        </mat-error>
    </mat-form-field>
    <div class="flex justify-end">
        <button
            mat-stroked-button
            type="button"
            class="px-6 mr-2"
            (click)="cancel()"
            [disabled]="submitInProcess"
        >
            Cancel
        </button>
        <button
            class="ml-3"
            mat-flat-button
            [color]="'primary'"
            (click)="submitUserData()"
            [disabled]="submitInProcess"
        >
            <span class="mx-2">Submit</span>
            <mat-progress-spinner *ngIf="submitInProcess" [diameter]="18"
            [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>
</form>
