<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Repository details</div>
        <button
        mat-icon-button
        (click)="close()"
        [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>    
    </div>

    <!-- Compose form -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="grid grid-cols-2">
             <div class="flex flex-col ">
                <div class="">
                    <span class="text-sm text-secondary leading-none">Name </span>
                    <span class="text-lg font-semibold flex "
                    *ngIf="repoData.name">{{repoData.name | titlecase}}</span>
                </div>
                <div class="mt-4">
                    <span class="text-sm text-secondary leading-none">Created By</span>
                    <span class=" mt-1 leading-none flex">
                       {{repoData.createdByName }}</span>
                </div>
            </div>
            <div class="flex flex-col ">
               <div>
                <span class="text-sm text-secondary leading-none">Technology</span>
                <span class="leading-relaxed whitespace-nowrap flex">{{repoData.technology.split('_').join(' ') | titlecase }}</span>
               </div>
               <div class="mt-4">
                <span class="text-sm text-secondary leading-none">Created At</span>
                <span class=" mt-1 leading-none flex">
                   {{repoData.createdAt | date}}</span>
            </div>
            </div>
        </div>

         <div class="flex mt-4">
               
            <a class="text-primary text-lg .mt-8p" href=""
            target="_blank"> View source</a>
         </div>

    </div>
</div>
