<div
    matDialogTitle
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -mt-6 -mx-6"
>
    <div class="text-lg font-medium">{{mode === "create" ? "Add" : "Update"}} External Project</div>
    <button mat-icon-button (click)="cancel()" [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
    </button>
</div>
<div mat-dialog-content class="w-full flex flex-col p-0 m-0 pr-4">
    <form *ngIf="projectForm" [formGroup]="projectForm">
        <div class="flex flex-row justify-start items-start gap-4">
            <mat-form-field
                class="w-1/2 userlist mr-4"
                id="userlist"
                [floatLabel]="'always'"
            >
                <mat-label>Project Name</mat-label>
                <input
                    matInput
                    placeholder="Project Name"
                    formControlName="name"
                    class="inputlist"
                />
                <mat-error
                    *ngIf="projectForm?.get('name')?.hasError('required')"
                >
                    <div>Project name is mandatory</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'" class="w-1/3 userlist">
                <mat-label>Start Date</mat-label>
                <input matInput #inputJoining [placeholder]="'Start Date'"
                    formControlName="startDate" [matDatepicker]="dateOfJoiningDatepicker"
                    (focus)="dateOfJoiningDatepicker.open()" />
                <mat-datepicker-toggle matSuffix [for]="dateOfJoiningDatepicker">
                </mat-datepicker-toggle>
                <mat-datepicker #dateOfJoiningDatepicker (closed)="inputJoining.blur()">
                </mat-datepicker>
                <mat-error *ngIf="projectForm?.get('startDate')?.hasError('required')">
                    <div>Start Date is mandatory</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field [floatLabel]="'always'" class="w-1/3 userlist">
                <mat-label>End Date</mat-label>
                <input matInput #inputJoining [placeholder]="'End Date'"
                    formControlName="endDate" 
                    [matDatepicker]="dateOfJoiningDatepicker1"
                    (focus)="dateOfJoiningDatepicker1.open()"
                    [min]="projectForm?.get('startDate')?.value"
                    (dateChange)="addReasonForProjectEndDate($event)" />
                <mat-datepicker-toggle matSuffix [for]="dateOfJoiningDatepicker1">
                </mat-datepicker-toggle>
                <mat-datepicker #dateOfJoiningDatepicker1 (closed)="inputJoining.blur()">
                </mat-datepicker>
                <mat-error *ngIf="projectForm?.get('endDate')?.hasError('required')">
                    <div>End Date is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="w-full">
            <mat-form-field
                [floatLabel]="'always'"
                appearance="fill"
                class="example-chip-list w-full flex-0"
            >
                <mat-label>Technology</mat-label>
                <div class="flex flex-col">
                    <div>
                        <mat-chip-list #chipList class="flex">
                            <input
                                placeholder="Select technology..."
                                #technologyInput
                                formControlName="technology"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="
                                    separatorKeysCodes
                                "
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addTech($event)"
                                class="w-full"
                            />
                            <mat-chip-list #chipList class="m-2">
                                <mat-chip
                                    *ngFor="
                                        let technology of technologys;
                                        let selectIndex = index
                                    "
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="
                                        remove(technology, selectIndex)
                                    "
                                >
                                    <div
                                        *ngFor="
                                            let technologyi of alltechnologys
                                        "
                                    >
                                        <div
                                            *ngIf="
                                                technologyi?.name ==
                                                technology
                                            "
                                        >
                                            {{ technologyi?.name }}
                                        </div>
                                    </div>
                                    <mat-icon
                                        matChipRemove
                                        *ngIf="removable"
                                        >cancel</mat-icon
                                    >
                                </mat-chip>
                            </mat-chip-list>
                        </mat-chip-list>
                        <mat-autocomplete
                            #auto="matAutocomplete"
                            (optionSelected)="selected($event)"
                        >
                            <mat-option
                                *ngFor="
                                    let technology of filteredTechnologies
                                        | async
                                "
                                [value]="technology"
                            >
                                {{ technology.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>
            </mat-form-field>
        </div>

        <mat-form-field
            class="w-full userlist mt-4 mb-2"
            id="userlist"
            [floatLabel]="'always'"
        >
            <mat-label>Description</mat-label>
            <textarea
                matInput
                placeholder="Description"
                formControlName="description"
                class="inputlist"
            ></textarea>
        </mat-form-field>
        
        <mat-form-field class="w-full mt-6 mb-1  sm:mt-0 select-form"
            [floatLabel]="'always'">
            <mat-label>Choose feedback form </mat-label>
            <mat-select panelClass="select-form-option" formControlName="formId" type="text"
                placeholder="Choose feedback form" [disableOptionCentering]="true"
                >
                <mat-option *ngFor="let form of selectFomList" [value]="form.id">
                    {{ form.formName }}
                </mat-option>
            </mat-select>
                                
        </mat-form-field>

        <h3 class="font-bold mb-2">Client Details:</h3>
        <div formArrayName="clients">
            <ng-container
                *ngFor="
                    let client of clients?.controls;
                    let i = index;
                    let last = last
                "
            >
                <form
                    *ngIf="!client?.value?.deleted"
                    class="flex flex-row justify-center items-center"
                    [formGroupName]="i"
                >
                    <mat-form-field
                        class="w-full mr-4 userlist"
                        id="userlist"
                        [floatLabel]="'always'"
                    >
                        <mat-label>First Name</mat-label>
                        <input
                            matInput
                            placeholder="First Name"
                            formControlName="firstName"
                            class="inputlist"
                        />
                        <mat-error
                            *ngIf="
                                client?.get('firstName')?.hasError('required')
                            "
                        >
                            <div>First name is mandatory</div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        class="w-full mr-4 sm:mt-0 userlist"
                        id="userlist"
                        [floatLabel]="'always'"
                    >
                        <mat-label>Last Name</mat-label>
                        <input
                            matInput
                            placeholder="Last Name"
                            formControlName="lastName"
                            class="inputlist"
                        />
                        <mat-error
                            *ngIf="
                                client?.get('lastName')?.hasError('required')
                            "
                        >
                            <div>Last name is mandatory</div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        class="w-full mr-4 sm:mt-0 userlist"
                        id="userlist"
                        [floatLabel]="'always'"
                    >
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            placeholder="Email"
                            formControlName="emailId"
                            class="inputlist"
                        />
                        <mat-error
                            *ngIf="client?.get('emailId')?.hasError('required')"
                        >
                            <div>Email is mandatory</div>
                        </mat-error>
                        <mat-error
                            *ngIf="
                                client?.get('emailId')?.hasError('email') &&
                                !client?.get('emailId')?.hasError('required')
                            "
                        >
                            <div>Invalid Email</div>
                        </mat-error>
                    </mat-form-field>
                    <mat-icon
                        *ngIf="last"
                        class="cursor-pointer mr-2"
                        color="primary"
                        matTooltip="Add more clients"
                        (click)="
                            client.valid
                                ? addNewClient()
                                : client.markAllAsTouched()
                        "
                        >add</mat-icon
                    >
                    <mat-icon
                        *ngIf="i != 0"
                        class="cursor-pointer"
                        color="warn"
                        matTooltip="Remove"
                        (click)="removeClient(i)"
                        >delete</mat-icon
                    >
                </form>
            </ng-container>
        </div>

        <div class="w-full flex flex-col" *ngIf="editProjectEndDateReason !== ''">
            <div class="flex items-center">
                <mat-label class="font-semibold mr-4">Reason for date change</mat-label>
                <mat-icon [matTooltip]="
                    'Edit Reason'
                " class="text-gray-400 icon-size-4.5 cursor-pointer"
                    svgIcon="heroicons_outline:pencil" (click)="
                    updateReasonForProjectEndDate()
                ">
                </mat-icon>
            </div>
            <div class="w-full">
                <div>
                    <p>Date changed from {{this.prevDate}} to {{this.newDate}}</p>
                </div>
                <div class="w-full mt-3">
                    <textarea class="w-full" trim="blur" rows="4" style="resize: none"
                        [value]="this.editProjectEndDateReason" [readOnly]="true">
                    </textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions class="flex flex-row justify-end">
    <button mat-stroked-button (click)="dialogRef.close()">
        <mat-icon class="mr-2">close</mat-icon>
        Cancel
    </button>
    <button
        mat-flat-button
        color="primary"
        [disabled]="submitInProcess"
        (click)="add()"
    >
        <mat-icon *ngIf="!submitInProcess" class="mr-2">add</mat-icon>
        <mat-progress-spinner
            *ngIf="submitInProcess"
            class="mr-2"
            mode="indeterminate"
            diameter="24"
        ></mat-progress-spinner>
        {{ mode === "create" ? "Add" : "Update" }}
    </button>
</div>
