<fuse-card class="skeleton-loader shadow">
    <div class="w-full p-2 sm:p-6">
        <div class="w-full flex justify-center mb-2">
            <div class="skeleton-loader w-1/3">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader">
                <div class="profile-photo mr-2"></div>
            </div>
        </div>
    
        <div
            class="w-full m-auto mt-8 shadow-sm p-2 py-4 sm:p-8 rounded-lg bg-white"
        >
            <div class="skeleton-loader w-full">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="skeleton-loader w-1/3">
                    <div class="table_row rounded-2xl"></div>
                </div>
                <div class="skeleton-loader w-1/3">
                    <div class="table_row rounded-2xl"></div>
                </div>
            </div>
            <div class="skeleton-loader w-1/2">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-1/2">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-1/2">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-1/2">
                <div class="table_row rounded-2xl"></div>
            </div>
        </div>
    </div>
</fuse-card>