<div class="w-full m-auto mt-1 shadow-sm p-2 py-4 sm:p-8 rounded-lg bg-white">
    <div class="w-full flex flex-col px-2">
        <div class="skeleton-loader w-1/3">
            <div class="table_row rounded-2xl"></div>
        </div>
        <div class="flex mt-6 items-center justify-center w-45 h-40 sm:w-40 sm:h-35" style="background: #e5e5e5; border-radius: 50%;">
            <svg class="w-8 h-8 text-gray-400 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
            </svg>
        </div>
    </div>

    <div
        class="w-full m-auto mt-8 shadow-sm py-4 sm:p-2 rounded-lg"
    >
        <div class="skeleton-loader w-full">
            <div class="table_row rounded-2xl"></div>
        </div>
        <div class="pl-8">
            <div class="flex flex-row gap-2 my-4">
                <div class="skeleton-loader w-1/3">
                    <div class="table_row rounded-2xl"></div>
                </div>
                <div class="skeleton-loader w-1/3">
                    <div class="table_row rounded-2xl"></div>
                </div>
            </div>
            <div class="skeleton-loader w-2/3 my-4">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-2/3 my-4">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-2/3 my-4">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="skeleton-loader w-2/3 my-4">
                <div class="table_row rounded-2xl"></div>
            </div>
            <div class="flex flex-row gap-8 my-4">
                <div class="skeleton-loader w-1/5">
                    <div class="table_row rounded-2xl"></div>
                </div>
                <div class="skeleton-loader w-1/5">
                    <div class="table_row rounded-2xl"></div>
                </div>
                <div class="skeleton-loader w-1/5">
                    <div class="table_row rounded-2xl"></div>
                </div>
            </div>
            <div class="skeleton-loader w-2/3 my-2">
                <div class="table_row rounded-2xl"></div>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col mt-4 px-2">
        <div class="skeleton-loader w-full">
            <div class="table_row rounded-2xl"></div>
        </div>
    </div>

    <div class="w-full flex flex-col mt-4 px-2">
        <div class="skeleton-loader w-full">
            <div class="table_row rounded-2xl"></div>
        </div>
    </div>

    <div class="w-full flex flex-col mt-4 px-2">
        <div class="skeleton-loader w-full">
            <div class="table_row rounded-2xl"></div>
        </div>
    </div>

    <div class="w-full flex flex-row justify-end mt-8 px-2 gap-4">
        <div class="skeleton-loader w-1/12">
            <div class="table_row rounded-2xl"></div>
        </div>
        <div class="skeleton-loader w-1/12">
            <div class="table_row rounded-2xl"></div>
        </div>
    </div>
</div>