<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex-auto">
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
        >
            <div
                class="relative flex flex-col sm:flex-row md:flex-col justify-between p-6 border-b bg-card dark:bg-transparent"
            >
                <div class="flex justify-between items-center">
                    <div class="flex w-full items-center ml-2">
                        <mat-form-field
                            class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full"
                        >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:search'"
                            ></mat-icon>
                            <input
                                matInput
                                [autocomplete]="'off'"
                                #searchInputField
                                [formControl]="searchControl"
                                [placeholder]="'Search by project name'"
                            />
                            <mat-icon
                                *ngIf="searchControl?.value"
                                class="icon-size-5 cursor-pointer"
                                matSuffix
                                [svgIcon]="'heroicons_solid:x'"
                                (click)="searchControl?.reset()"
                            ></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- <div class="overflow-y-auto">
                <div
                    class="flex flex-col items-center pb-8 sm:pb-20 px-6 bg-gray-50 dark:bg-gray-800 min-h-[calc(100vh_-_180px)]"
                >
                    <div class="w-full max-w-7xl">
                        <div class="flex items-center justify-between w-full p-4 md:p-6">
                            <div>
                                <h2 class="text-3xl font-semibold leading-8 mb-0">Finance dashboard</h2>
                                <div class="font-medium tracking-tight text-secondary">Keep track of your financial project status</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->

            <div class="flex flex-auto overflow-hidden pl-1">
                <div
                    class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto overflow-x-auto"
                >
                    <div
                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                        matSortDisableClear
                    >
                        <div>Project Name</div>
                        <div>PM</div>
                        <div>Start Date</div>
                        <div>End Date</div>
                        <div>Project Statistics</div>
                    </div>
                    <ng-container *ngIf="!initialLoading && filteredProjectList?.length > 0">
                        <div class="grid">
                            <ng-container *ngFor="let list of filteredProjectList">
                                <div
                                    class="rowColorChangeHover cursor-pointer inventory-grid grid items-center gap-4 py-3 px-6 md:px-10 border-b"
                                >
                                    <div class="flex items-center">
                                        <div class="cursor-pointer">
                                            <div
                                                class="truncate font-semibold text-black"
                                            >
                                                {{ list?.projectName }}
                                            </div>
                                        </div>

                                        <div class="hidden md:block truncate">
                                            {{ list?.projectPM }}
                                        </div>

                                        <div class="hidden md:block truncate">
                                            {{ list?.startDate }}
                                        </div>

                                        <div class="hidden md:block truncate">
                                            {{ list?.endDate }}
                                        </div>

                                        <div class="hidden md:block truncate">
                                            {{ list?.statistic }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container
                        *ngIf="filteredProjectList?.length > 0 && !initialLoading"
                    >
                        <div
                            class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                        >
                            Projects not found
                        </div>
                    </ng-container>
                    <ng-container *ngIf="initialLoading">
                        <app-table-skeleton
                            [skeletonData]="requiredSkeletonData"
                        ></app-table-skeleton>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
