<!-- Main -->
<div class="flex flex-auto overflow-hidden">
    <!-- Resources list -->
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <ng-container  *ngIf="!isLoading && totalRecored > 0; else noProducts">
        <div *ngIf="totalRecored > 0" class="grid">
          <!-- Header -->
          <div
            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSortDisableClear>
            <div class="primary-900">Issue Type</div>
            <div class="hidden md:block">Number</div>
          </div>
          <!-- Rows -->
          <ng-container *ngFor="let issueType of  issueTypeList ">
            <div class="inventory-grid grid items-center  gap-4 py-4 px-6 md:px-8 border-b h-67">
              <!-- issueLists -->
              <div class="truncate font-semibold text-black">
                <div class="truncate cursor-pointer"> {{issueType.issueType }}
                </div>
              </div>
  
              <!-- Start Date -->
              <div class="hidden md:block truncate">
                {{ issueType.issueCount ? (issueType.issueCount ) : '-' }}
              </div>

  
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          Issues not found
        </div>
      </ng-template>
    </div>
  </div>