<div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto bg-card shadow h400 mb-15 overflow-hidden">
  <!-- Header -->
  <div class="relative flex flex-col sm:flex-row md:flex-col justify-between   border-b bg-card dark:bg-transparent">
    <!-- Loader -->
    <div *ngIf="isLoading" class="absolute inset-x-0 bottom-0">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
  </div>
  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <!-- Resources list -->
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="!isLoading && totalRecored > 0; else noProducts">
        <div *ngIf="totalRecored > 0" class="grid">
          <!-- Header -->
          <div
            class="inventory-grid z-10  sticky top-0 grid gap-4 py-4   md:px-8 shadow text-md font-semibold text-black bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSortDisableClear>
            <div class="primary-900">Sprints</div>
            <div class="hidden md:block">Start Date</div>
            <div class="hidden sm:block">End Date</div>
            <div class="hidden lg:block">State</div>
          </div>
          <!-- Rows -->
          <ng-container *ngFor="let sprint of  sprintList ">
            <div class="inventory-grid grid items-center  gap-4 py-4 px-6 md:px-8 border-b h-67">
              <!-- Sprints -->
              <div class="truncate font-semibold text-black">
                <div class="truncate">
                  {{sprint.name }}
                </div>
              </div>

              <!-- Start Date -->
              <div class="hidden md:block truncate">
                {{ sprint.startDate ? (sprint.startDate | date) : '-'  }}
              </div>

              <!-- End Date -->
              <div class="hidden sm:block">
                {{sprint.endDate ? (sprint.endDate| date) : '-'  }}
              </div>

              <!-- Lorem Ipsum -->
              <div class="hidden lg:flex items-center">
                <div class="min-w-4">
                  <div class="sm:block">
                    <mat-icon
                      class="{{sprint.state ==='active' ? 'text-green-500' : 'text-red-500'}} icon-size-5 cursor-pointer"
                      svgIcon="heroicons_outline:flag">
                    </mat-icon>
                  </div>
                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #noProducts>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
          There are no Sprint Data
        </div>
      </ng-template>
    </div>
  </div>
</div>
