<!-- Main -->
<div class="flex flex-auto overflow-hidden">
    <!-- Resources list -->
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
        <div
            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSortDisableClear
        >
            <div class="primary-900">Sprints</div>
            <div class="hidden md:block">Start Date</div>
            <div class="hidden sm:block">End Date</div>
            <div class="hidden sm:block">Invoice Percentage</div>
            <div class="hidden lg:block">State</div>
            <div class="hidden lg:block">Actions</div>
        </div>
        <ng-container *ngIf="!initialLoading && totalRecored > 0">
            <div *ngIf="totalRecored > 0" class="grid">
                <!-- Header -->

                <!-- Rows -->
                <ng-container *ngFor="let sprint of sprintList">
                    <div
                        class="inventory-grid grid items-center gap-4 py-4 px-6 md:px-8 border-b h-67"
                    >
                        <!-- Sprints -->
                        <div class="truncate font-semibold text-black">
                            <div
                                class="truncate cursor-pointer"
                                (click)="goToSprint(sprint?.id)"
                            >
                                {{ sprint?.name }}
                            </div>
                        </div>

                        <!-- Start Date -->
                        <div class="hidden md:block truncate">
                            {{
                                sprint?.startDate
                                    ? (sprint?.startDate | date)
                                    : "-"
                            }}
                        </div>

                        <!-- End Date -->
                        <div class="hidden sm:block">
                            {{
                                sprint?.endDate ? (sprint?.endDate | date) : "-"
                            }}
                        </div>

                        <div class="hidden sm:block">-</div>

                        <!-- Lorem Ipsum -->
                        <div class="hidden lg:flex items-center">
                            <div class="min-w-4">
                                <div class="sm:block">
                                    <mat-icon
                                        class="{{
                                            sprint?.state === 'active'
                                                ? 'text-green-500'
                                                : 'text-red-500'
                                        }} icon-size-5 cursor-pointer"
                                        svgIcon="heroicons_outline:flag"
                                    >
                                    </mat-icon>
                                </div>
                            </div>
                        </div>

                        <div class="inline-block">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button
                                    mat-menu-item
                                    (click)="openInvoiceDialog()"
                                >
                                    <span>Add Invoice Percentage</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Mark This Sprint As Completed</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="!initialLoading && totalRecored == 0">
            <div
                class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center"
            >
                Sprints not found
            </div>
        </ng-container>
        <ng-container *ngIf="initialLoading">
            <app-table-skeleton
                [skeletonData]="requiredSprintSkeletonData"
            ></app-table-skeleton>
        </ng-container>
    </div>
</div>
