<div *ngIf="!isLoading" class="p-8 bg-white w-[100vw]">
    <div
        class="relative flex flex-col sm:flex-row md:flex-col justify-between pb-4 border-b"
    >
        <div class="flex justify-between items-center">
            <div class="flex w-full items-center">
                <div
                    class="tracking-tight leading-8 flex items-center -ml-1 cursor-pointer"
                    (click)="goBack()"
                >
                    <mat-icon
                        class="icon-size-6 text-3xl text-black"
                        [svgIcon]="'heroicons_outline:chevron-left'"
                    ></mat-icon>
                    <span class="font-semibold">Back</span>
                </div>
            </div>

            <div class="flex items-center justify-end w-full">
                <div class="">
                    <span class="text-2xl"
                        >Fill 1 to 1 form:
                        <span class="font-semibold">Rohan kadam</span></span
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="h-[80vh] overflow-y-auto">
        <formio
            [form]="form"
            [submission]="preFillFormData"
            (submit)="submit($event)"
        ></formio>
    </div>
</div>
<div
    *ngIf="isLoading"
    class="w-[100vw] h-[80vh] flex justify-center items-center"
>
    <span class="text-3xl flex"
        >Loading
        <div class="btnLoader text-green-600 -ml-0 mt-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span></div
    ></span>
</div>
