<div
    *ngIf="!initialLoading && !pageDisabledByAdmin"
    class="w-full min-h-screen bg-gray-50"
>
    <div class="w-full">
        <div
            class="flex justify-between items-center bg-white rounded-sm shadow-sm px-8 py-2"
        >
            <h1 class="font-bold mt-4">{{ projectName }} - work-logs</h1>
            <div>
                <img class="w-36" src="assets/images/logo/logo.png" alt="" />
            </div>
        </div>
    </div>
    <div class="w-full px-8">
        <div class="bg-white rounded-sm shadow-sm p-6 mt-6">
            <div class="mt-8 flex items-center gap-4">
                <div>
                    <mat-form-field>
                        <mat-label class="">Year</mat-label>
                        <mat-select
                            [(value)]="selectedYear"
                            (selectionChange)="onYearChange($event)"
                            [disabled]="initialLoading"
                        >
                            <mat-option
                                *ngFor="let year of yearAndMonth"
                                value="{{ year?.year }}"
                                >{{ year?.year }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-[350px] mr-4">
                    <mat-form-field class="w-full">
                        <mat-label class="">Resource</mat-label>
                        <mat-select
                            [(value)]="defaultResource"
                            (selectionChange)="onEmailSelected($event)"
                            [disabled]="initialLoading"
                        >
                            <mat-option
                                *ngFor="let option of options"
                                [value]="option?.email"
                            >
                                {{ option?.firstName + " " + option?.lastName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="mt-4">
                <mat-tab-group
                    [color]="'primary'"
                    mat-stretch-tabs="false"
                    mat-align-tabs="start"
                    (selectedTabChange)="onTabChanged($event)"
                    [(selectedIndex)]="selectedTabIndex"
                >
                    <mat-tab
                        *ngFor="let tab of matTabList"
                        label="{{ tab?.label }}"
                    >
                        <ng-container
                            *ngIf="!initialLoading && workLogsList?.length > 0"
                        >
                            <div
                                class="z-10 inventory-grid-list-1 sticky top-0 grid gap-2 py-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            >
                                <div class="font-semibold px-2">Date</div>
                                <div
                                    class="grid gap-2 inventory-grid-list-inner-list-admin"
                                >
                                    <div class="font-semibold">Description</div>
                                    <div class="font-semibold">Hours</div>
                                </div>
                            </div>

                            <div
                                *ngFor="let log of workLogsList"
                                class="grid gap-2 py-2 border-b-2 border-b-gray-300 inventory-grid-list-1"
                            >
                                <div class="pl-2 mt-2">
                                    {{ log?.worklogDate | date }}
                                </div>
                                <div class="flex flex-col">
                                    <div
                                        class="grid gap-2 border-b-2 border-b-gray-300 py-2 inventory-grid-list-inner-list-admin"
                                        *ngFor="
                                            let logs of log?.worklogList;
                                            let last = last
                                        "
                                        [ngClass]="{
                                            'border-b-0 pb-0': last
                                        }"
                                    >
                                        <div
                                            class="overflow-hidden break-all worklog-row"
                                            [innerHTML]="
                                                logs?.onLeave
                                                    ? 'On Leave'
                                                    : (logs?.comment
                                                      | sanitizeHtml)
                                            "
                                        ></div>
                                        <div class="pb-2">
                                            {{
                                                logs?.onLeave
                                                    ? 0
                                                    : logs?.timeSpent
                                            }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container
                            *ngIf="
                                !initialLoading && workLogsList?.length === 0
                            "
                        >
                            <div
                                class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center"
                            >
                                Work logs not found
                            </div>
                        </ng-container>
                        <ng-container *ngIf="initialLoading">
                            <app-table-skeleton
                                [skeletonData]="requiredSprintSkeletonData"
                            ></app-table-skeleton>
                        </ng-container>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<div
    *ngIf="initialLoading && !pageDisabledByAdmin"
    class="w-screen h-screen flex justify-center items-center"
>
    <span class="text-3xl flex"
        >Loading
        <div class="btnLoader text-green-600 -ml-0 mt-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span></div
    ></span>
</div>

<div
    *ngIf="!initialLoading && pageDisabledByAdmin"
    class="w-screen h-screen flex justify-center items-center"
>
    <span class="text-3xl">This page is disabled, Please contact admin !</span>
</div>
