<div class="w-full min-h-screen bg-gray-50 flex justify-center px-6 py-4">
    <div class="w-full max-w-[1496px]">
        <div
            class="flex justify-between items-center bg-white rounded-sm shadow-sm p-6"
        >
            <h1 class="font-bold mt-4">Metrics/work-logs</h1>
            <div>
                <img class="w-36" src="assets/images/logo/logo.png" alt="" />
            </div>
        </div>

        <div class="bg-white rounded-sm shadow-sm p-6 mt-6">
            <div class="mt-8 flex items-center gap-4">
                <div>
                    <mat-form-field>
                        <mat-label class="">Year</mat-label>
                        <mat-select
                            [(value)]="selectedYear"
                            (selectionChange)="onYearChange($event)"
                            [disabled]="initialLoading"
                        >
                            <mat-option
                                *ngFor="let year of matSelectYears"
                                value="{{ year }}"
                                [disabled]="
                                    initialLoading || year > currentYear
                                "
                                >{{ year }}</mat-option
                            >
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="w-[350px] mr-4">
                    <mat-form-field class="w-full">
                        <mat-label class="">Resource</mat-label>
                        <mat-select
                            [(value)]="defaultResource"
                            (selectionChange)="onEmailSelected($event)"
                            [disabled]="initialLoading"
                        >
                            <mat-option
                                *ngFor="let option of options"
                                [value]="option?.email"
                            >
                                {{ option?.firstName + " " + option?.lastName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
