<!-- Main -->
<div class="flex flex-auto overflow-hidden">
    <!-- Resources list -->
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
        <div
            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSortDisableClear
        >
            <div class="hidden sm:block">Change By</div>
            <div class="hidden sm:block">Project New End Date</div>
            <div class="hidden md:block">Total Extended Hours</div>
            <div class="hidden sm:block">CR Link</div>
            <div class="hidden lg:block">Actions</div>
        </div>
        <ng-container *ngIf="!initialLoading">
            <div class="grid">
                <ng-container *ngFor="let list of crList">
                    <div
                        class="inventory-grid grid items-center gap-4 py-2 px-6 md:px-8 border-b"
                    >
                        <div class="flex items-center">
                            <ng-container>
                                <div
                                    class="relative flex-0 w-12 h-12 mr-6 overflow-hidden border flex items-center justify-center rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                >
                                    {{ list?.crBy?.charAt(0) }}
                                </div>
                                <div class="truncate">
                                    {{ list?.crBy | titlecase }}
                                </div>
                            </ng-container>
                        </div>

                        <!--- New End Date --->
                        <div class="hidden sm:block">
                            {{ list?.endDate ? (list?.endDate | date) : "-" }}
                        </div>

                        <!-- Total Hours -->
                        <div class="hidden md:block truncate">
                            {{
                                list?.extendedHours ? list?.extendedHours : "-"
                            }}
                        </div>

                        <!-- CR Link -->
                        <div
                            class="hidden sm:block truncate"
                            [matTooltip]="list?.link"
                        >
                            {{ list?.link ? list?.link : "-" }}
                        </div>

                        <!--- Actions -->
                        <div class="hidden sm:block px-3">
                            <mat-icon
                                [matTooltip]="'View'"
                                class="text-gray-400 icon-size-5 cursor-pointer"
                                svgIcon="heroicons_outline:eye"
                                (click)="
                                    crDetails(list?.changeReqProjectResModel)
                                "
                            ></mat-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="crList?.length == 0 && !initialLoading">
            <div
                class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center"
            >
                CR not found
            </div>
        </ng-container>
        <ng-container *ngIf="initialLoading">
            <app-table-skeleton
                [skeletonData]="requiredSprintSkeletonData"
            ></app-table-skeleton>
        </ng-container>
    </div>
</div>
