<div class="flex flex-col max-h-screen -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
    >
        <div class="text-lg font-medium">Project Feedback Form</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div *ngIf="!initialLoading">
            <div class="formio-render">
                <!-- <formio [form]="form" [readOnly]="true"></formio> -->
            </div>
        </div>
        <ng-container *ngIf="initialLoading">
            <div
                class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center"
            >
                Loading.....
            </div>
        </ng-container>
    </div>
</div>

