.inventory-grid {
    grid-template-columns: 30% 10% 20% 20% auto;
}

.btnLoader {
    display: flex;
    padding-bottom: 6px;
    gap: 0.2rem;
    background-color: inherit;
}
.btnLoader span {
    --dot1: #c6c6c6;
    --dot2: #959595;
    --dot3: #787878;
    --dot4: #393939;
    --duration: 700ms;
    --easing: linear;
    --delay: 1ms;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.btnLoader span:nth-child(1) {
    background-color: var(--dot1);
    animation: var(--duration) var(--easing) var(--delay) infinite normal flash1;
}
.btnLoader span:nth-child(2) {
    background-color: var(--dot2);
    animation: var(--duration) var(--easing) var(--delay) infinite normal flash2;
}
.btnLoader span:nth-child(3) {
    background-color: var(--dot3);
    animation: var(--duration) var(--easing) var(--delay) infinite normal flash3;
}
.btnLoader span:nth-child(4) {
    background-color: var(--dot4);
    animation: var(--duration) var(--easing) var(--delay) infinite normal flash4;
}

@keyframes flash1 {
    0%,
    100% {
        background-color: var(--dot1);
    }
    25% {
        background-color: var(--dot2);
    }
    50% {
        background-color: var(--dot3);
    }
    75% {
        background-color: var(--dot4);
    }
}
@keyframes flash2 {
    0%,
    100% {
        background-color: var(--dot4);
    }
    25% {
        background-color: var(--dot1);
    }
    50% {
        background-color: var(--dot2);
    }
    75% {
        background-color: var(--dot3);
    }
}
@keyframes flash3 {
    0%,
    100% {
        background-color: var(--dot3);
    }
    25% {
        background-color: var(--dot4);
    }
    50% {
        background-color: var(--dot1);
    }
    75% {
        background-color: var(--dot2);
    }
}
@keyframes flash4 {
    0%,
    100% {
        background-color: var(--dot2);
    }
    25% {
        background-color: var(--dot3);
    }
    50% {
        background-color: var(--dot4);
    }
    75% {
        background-color: var(--dot1);
    }
}

::ng-deep .mat-menu-panel {
    width: 25%!important;
    border-radius: 6px;
    padding: 0 5px!important;
}

.mat-menu-item{
    line-height:35px;
    height:35px;
}

