<div class="flex flex-wrap w-full max-w-screen-xl mx-auto">
    <div id="scroll" class="w-full bg-black text-sm text-green-600">
        <div
            class="message-container items-end"
            *ngFor="let message of messages; last as last"
        >
            <div>{{ message.message }}</div>
            <div *ngIf="last" class="btnLoader" id="elId" #target>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
