<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Send Template</div>
    </div>

    <!-- Compose form -->
    <form [formGroup]="sendYmlFileForm"  class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
                        <mat-form-field [floatLabel]="'always'" appearance="fill" class="w-full sm:w-140 mt-4 mb-2 sm:mt-0 " >
                            <mat-label>To</mat-label>
                            <input [readonly]="true" placeholder="Send Email." matInput formControlName="toEmail"   />
                            <mat-error *ngIf="sendYmlFileFormValidation['toEmail'].errors &&
                            sendYmlFileFormValidation['toEmail']?.invalid &&
                            sendYmlFileFormValidation['toEmail']?.touched ">
                            <div *ngIf="sendYmlFileFormValidation['toEmail'].errors['required']">Email is mandatory</div>
                            <div *ngIf="sendYmlFileFormValidation['toEmail'].errors['pattern']">Enter valid email</div>
                        </mat-error>
                        </mat-form-field>
                        <div class="chip-input w-full mb-2 tracking-tight ng-tns-c274-3859">

                            <mat-form-field  [floatLabel]="'always'" appearance="fill" class="w-full sm:w-140 mt-4 mb-2 sm:mt-0 " >
                                <mat-label>CC*</mat-label>
                                <mat-chip-list #chipList aria-label="email selection">
                                 
                                  <input
                                    placeholder="New email..."
                                    #emailInput
                                    formArrayName="emails"
                                    [formControl]="emailCtrl"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-chip-list #chipList class="mb-2">
                                <mat-chip
                                *ngFor="let email of emails"
                                (removed)="remove(email)">
                                {{email}}
                                  <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                            </mat-chip-list>
                            </mat-form-field>
                            <div class="error-msg text-md mb-2">
                                <mat-error  *ngIf="emailInvalid">Invalid email </mat-error>
                                <mat-error *ngIf="!notEmpty">Please enter email</mat-error>
                            </div>
                            
                        </div>
                        <mat-form-field class="w-full sm:w-140 mt-4 mb-2 sm:mt-0 "  [floatLabel]="'always'">
                            <mat-label>Subject</mat-label>
                            <input
                                matInput
                                [placeholder]="'Subject here.'"
                                required
                                id="subject"
                                #feedbaclsubject
                                formControlName="subject" maxlength="150"
                                >
                                <mat-error *ngIf="sendYmlFileFormValidation['subject'].errors &&
                                sendYmlFileFormValidation['subject']?.invalid &&
                                sendYmlFileFormValidation['subject']?.touched ">
                                <div *ngIf="sendYmlFileFormValidation['subject'].errors['required']">Subject is mandatory</div>
                                <div *ngIf="sendYmlFileFormValidation['subject'].errors['pattern']">Enter valid subject</div>
                            </mat-error>
                        </mat-form-field>
                       
                        <mat-form-field 
                                
                        class="fuse-mat-textarea flex-auto w-full sm:w-140 mb-2 mt-4 sm:mt-0"  [floatLabel]="'always'">
                        <mat-label>Message</mat-label>
                        <textarea
                            matInput
                            required
                            maxlength="300"
                            trim="blur" 
                            rows="4"
                            style="resize:none"
                            formControlName="message"
                            [placeholder]="'Add message here...'"></textarea>
                            <mat-error *ngIf="sendYmlFileFormValidation['message'].errors &&
                            sendYmlFileFormValidation['message']?.invalid &&
                            sendYmlFileFormValidation['message']?.touched ">
                            <div *ngIf="sendYmlFileFormValidation['message'].errors['required']">Project Description is mandatory</div>
                            <div *ngIf="sendYmlFileFormValidation['message'].invalid && !sendYmlFileFormValidation['message'].errors['required']">Enter valid project Description</div>
                        </mat-error>
                        </mat-form-field>
          <div class="flex items-center ml-auto mt-4 sm:mt-0">
            <!-- Send -->
            <button
            mat-stroked-button
            type="button" (click)="close()">
            Close
        </button>
            <button
                class="order-first sm:order-last ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="save()">
                Send
            </button>
        </div>
    </form>
</div>
