<div class="flex flex-col flex-auto   bg-card    overflow-hidden">
  <div class="p-2 border-b">
    <div class="flex items-start justify-between ">
      <div class="text-lg font-medium tracking-tight leading-6 truncate"> Customer Happiness Score </div>
    </div>
  </div>
  <div class="flex flex-col flex-auto ">
    <apx-chart [series]=" series" [chart]=" chart" [colors]=" colors" [fill]="fill" [plotOptions]="plotOptions" [stroke]="stroke" [dataLabels]="dataLabels">
    </apx-chart>
    <!-- <apx-chart [series]=" series" [chart]=" chart" [xaxis]=" xaxis" [fill]="fill" [plotOptions]="plotOptions">
    </apx-chart> -->
    <div class="flex-col items-center justify-between text-center">
     <div class="mt-8 font-medium"> Your Customer Happiness Score is Nil!</div>
     <div class="text-md">Updated 27 Feb,2022</div>
    </div>
  </div>
</div>  