<div class="flex flex-col rounded-md flex-auto bg-card h-full overflow-hidden">
  <div class="p-2 border-b">
    <div class="flex items-start justify-between ">
      <div class="text-lg font-medium tracking-tight leading-6 truncate"> Customer Happiness Score </div>
      <div class="ml-2"  *ngIf="isShow == true">
        <mat-icon
       
        class=" text-gray-400 icon-size-5 cursor-pointer"
        svgIcon="heroicons_outline:eye"
        (click)="feedbackForm()"
      ></mat-icon>
    </div>
    </div>
  </div>
  <div class="flex flex-col flex-auto items-center">
    <apx-chart  [chart]=" chart"  [series]=" series" [plotOptions]="plotOptions" [stroke]="stroke"  [labels]="labels" [dataLabels]="dataLabels" [colors]=" colors" [fill]="fill">
    </apx-chart>
    <div class="flex-col items-center justify-between text-center mb-6">
     <div class="mt-8 font-medium"> Your Customer Happiness Score is {{score}}!</div>
     <div class="text-md">Updated 27 Feb,2022</div>
    </div>
  </div>
</div>
