<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex-auto">
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
        >
            <div
                class="relative flex flex-col sm:flex-row md:flex-col justify-between p-6 border-b bg-card dark:bg-transparent"
            >
                <div class="flex justify-between items-center">
                    <div class="flex w-full items-center ml-2">
                        <mat-form-field
                            class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full"
                        >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:search'"
                            ></mat-icon>
                            <input
                                matInput
                                [autocomplete]="'off'"
                                #searchInputField
                                [placeholder]="'Search by user name'"
                            />
                            <mat-icon
                                *ngIf="true"
                                class="icon-size-5 cursor-pointer"
                                matSuffix
                                [svgIcon]="'heroicons_solid:x'"
                            ></mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
