<div class="">
    <div
        matDialogTitle
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -mt-6 -mx-6"
    >
        <div class="text-lg font-medium">Invoice Percentage</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>

    <div class="mt-4 h-12">
        <input class="h-full border-2 border-primary-400 rounded p-2" type="number" placeholder="Enter invoice percentage">
    </div>

    <div mat-dialog-actions class="flex flex-row justify-end mt-4">
        <button mat-stroked-button (click)="close()">Cancel</button>
        <button class="ml-2" mat-flat-button color="primary">
            Add
            <!-- <mat-progress-spinner
                class="ml-3"
                mode="indeterminate"
                diameter="24"
            ></mat-progress-spinner> -->
        </button>
    </div>
</div>
