.fuse-mat-button-large{
    background-color: #4f46e5 !important;
}
.main-container{
    height: 100vh !important;
}
.img-width{
    width: 24px !important;
    padding-right: 6px !important;
}
.white-color{
    color: white !important;
 }
//  .img-logo{
//     width: 100px;
//     height: 60px;
//  }
.font-size-36{
    font-size: 36px;
}
.font-size-34{
    font-size: 34px;
}