.inventory-grid {
    //grid-template-columns: 48px 150px auto 112px 72px 60px;
    //this is for a mobile
    grid-template-columns: 60px 350px 150px 220px;
  
    @screen sm {
      grid-template-columns: 60px 350px  auto  220px;
    }
  
    @screen md {
      grid-template-columns: 60px 350px  auto  220px;
    }
  
    @screen lg {
      grid-template-columns: 60px 350px auto 220px;
    }
  }