<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    

        <!-- <mat-drawer-content class="flex flex-col"> -->

            <!-- Main -->
            <!-- <div class="flex flex-col flex-auto "> -->

                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8  bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Forms</div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0">
          
                        <!-- Add task button -->
                        <button
                            class="ml-3"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="gotoAddForm()"
                          >
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add Form</span>
                        </button>
                    </div>
                </div>

                <!-- Tasks list -->

            <!-- </div> -->

        <!-- </mat-drawer-content> -->
        <!-- main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- formData list -->
            <div
              class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
              
            >
              <ng-container *ngIf="!isLoading && formsData.length > 0; else noProducts">
                <div *ngIf="formsData.length > 0" class="grid">
                  <!-- Header -->
                  <div
                    class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSortDisableClear
                  >
                    <div>Name</div>
                    <div class="hidden md:block">Projects</div>
                    <div>Action</div>
                  </div>
                  <!-- Rows -->
                  <ng-container *ngFor="let formData of formsData">
                    <div
                      class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b"
                    >
                      <!-- SKU -->
                      <div>
                        <div class="truncate">
                          {{ formData.name }}
                        </div>
                      </div>
        
                      <!-- Name -->
                      <div class="hidden md:block truncate">
                        {{ formData.projects }}
                      </div>
    
        
                      <!-- Active -->
                      <div class="sm:block">
                        <mat-icon
                        class=" text-gray-400 icon-size-5 cursor-pointer"
                        svgIcon="heroicons_outline:eye"
                      ></mat-icon>
                        <mat-icon
                          class="ml-6 text-gray-400 icon-size-5 cursor-pointer"
                          svgIcon="heroicons_outline:pencil"
                          (click)="edit(formData.id)"
                        ></mat-icon>
                      
                        <mat-icon
                          class="ml-6 text-gray-400 icon-size-5 cursor-pointer"
                          svgIcon="heroicons_outline:trash"
                          (click)="deleteResource(formData.id)"
                        ></mat-icon> 
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <ng-template #noProducts>
                <div
                  class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                >
                  There are no formData
                </div>
              </ng-template>
            </div>
          </div>
</div>
