<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b ng-tns-c216-1974  bg-card dark:bg-transparent"><!----><div class="text-4xl font-extrabold tracking-tight ng-tns-c216-1974">Projects</div>
    <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 ng-tns-c216-1974">
    <button mat-flat-button="" (click)="gotoAddProject()" class="mat-focus-indicator ml-4 ng-tns-c216-1974 mat-flat-button mat-button-base mat-primary"><span class="mat-button-wrapper"><mat-icon role="img" class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="plus" data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
    </svg></mat-icon><span class="ml-2 mr-1">Add New Project</span></span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button></div>
</div>
<div class="items-center justify-center text-center mt-8">
    No projects
</div>
</div>
