<div
    matDialogTitle
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -mt-6 -mx-6"
>
    <div class="text-lg font-medium">Project settings</div>
    <button mat-icon-button (click)="cancel()" [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
    </button>
</div>

<!-- <h2 mat-dialog-title>Project settings</h2> -->
<mat-dialog-content class="mat-typography">
    <div class="relative h-[620px]">
        <div class="fixed min-h-[620px] w-[200px] pt-2">
            <div
                class="pl-3 py-2 mb-2 cursor-pointer"
                [ngClass]="{
                    'bg-gray-200': showStep === 0,
                    'font-semibold': showStep === 0
                }"
                (click)="changeStep(0)"
            >
                Project reminders
            </div>
            <div
                class="pl-3 font-semibold py-2 mb-2 cursor-pointer"
                [ngClass]="{
                    'bg-gray-200': showStep === 1,
                    'font-semibold': showStep === 1
                }"
                (click)="changeStep(1)"
            >
                Cost setting
            </div>
            <div
                class="pl-3 font-semibold py-2 mb-2 cursor-pointer"
                [ngClass]="{
                    'bg-gray-200': showStep === 2,
                    'font-semibold': showStep === 2
                }"
                (click)="changeStep(2)"
            >
                Leave/Holiday
            </div>
        </div>
        <div class="ml-[220px] min-h-[620px] p-2" *ngIf="showStep === 0">
            <div class="">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-xl font-semibold">Reminders</div>
                        <button
                            mat-flat-button
                            color="primary"
                            [disabled]="
                                isLoadingclearReminder ||
                                this.data?.projectSettings === null ||
                                this.data?.projectSettings === ''
                            "
                            (click)="clearReminders()"
                        >
                            <mat-progress-spinner
                                *ngIf="isLoadingclearReminder"
                                class="mr-2"
                                mode="indeterminate"
                                diameter="24"
                            ></mat-progress-spinner>
                            Clear reminders
                        </button>
                    </div>
                    <div class="mt-4">
                        <div class="font-medium">First reminder</div>
                        <div class="flex items-center mt-1">
                            <mat-checkbox
                                [color]="'primary'"
                                class="font-medium mr-4"
                                [(ngModel)]="firstReminderCheck"
                                (change)="firstReminderCheckbox($event)"
                                >On slack</mat-checkbox
                            >
                            <mat-form-field class="w-60">
                                <mat-select
                                    [placeholder]="'Select time'"
                                    (selectionChange)="changeTime($event)"
                                    [disabled]="!firstReminderCheck"
                                    [(ngModel)]="firstSelect"
                                >
                                    <mat-option
                                        *ngFor="let time of primaryTimings"
                                        [value]="time"
                                    >
                                        {{ time?.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="font-medium">Second reminder</div>
                        <div class="flex items-center mt-1">
                            <mat-checkbox
                                [color]="'primary'"
                                class="font-medium mr-4"
                                [checked]="secondReminderCheck"
                                (change)="secondReminderCheckbox($event)"
                                [disabled]="
                                    firstReminderControl === '' ||
                                    !firstReminderCheck
                                "
                                >On slack</mat-checkbox
                            >
                            <mat-form-field class="w-60">
                                <mat-select
                                    [placeholder]="'Select time'"
                                    (selectionChange)="changeTimeSecond($event)"
                                    [(ngModel)]="secondSelect"
                                    [disabled]="
                                        firstReminderControl === '' ||
                                        !secondReminderCheck
                                    "
                                >
                                    <mat-option
                                        *ngFor="let time of primaryTimings"
                                        [value]="time"
                                        [disabled]="
                                            time?.id <= firstReminderControl?.id
                                        "
                                    >
                                        {{ time?.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="font-medium">Third reminder</div>
                        <div class="flex items-center mt-1">
                            <mat-checkbox
                                [color]="'primary'"
                                class="font-medium mr-4"
                                [checked]="thirdReminderCheck"
                                (change)="thirdReminderCheckbox($event)"
                                [disabled]="!secondReminderCheck"
                                >On slack</mat-checkbox
                            >
                            <mat-form-field class="w-60">
                                <mat-select
                                    [placeholder]="'Select time'"
                                    (selectionChange)="changeTimeThird($event)"
                                    [(ngModel)]="thirdSelect"
                                    [disabled]="
                                        secondReminderControl === '' ||
                                        !thirdReminderCheck
                                    "
                                >
                                    <mat-option
                                        *ngFor="let time of secondaryTimings"
                                        [value]="time"
                                        [disabled]="
                                            time?.id <=
                                            secondReminderControl?.id
                                        "
                                    >
                                        {{ time?.viewValue }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ml-[220px] min-h-[620px] p-2" *ngIf="showStep === 1">
            <div class="">
                <div class="text-xl font-semibold mt-2 mb-4">Cost setting</div>

                <form [formGroup]="fixedCostForm">
                    <div class="flex flex-col w-full">
                        <div class="w-full flex flex-col flex-wrap">
                            <mat-label class="w-[400px] mb-1"
                                >Select cost type
                                <span class="text-gray-400"
                                    >(This setting can never be changed
                                    again)</span
                                ></mat-label
                            >
                            <mat-form-field class="w-[200px]">
                                <mat-select
                                    formControlName="costType"
                                    name="food"
                                    (selectionChange)="costTypeChange($event)"
                                >
                                    <mat-option
                                        *ngFor="let type of costTypes"
                                        [value]="type"
                                    >
                                        {{ type?.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div
                            *ngIf="
                                fixedCostForm?.get('costType')?.value?.value ===
                                'FIXED_COST'"
                        >
                            <div class="w-full flex flex-col flex-wrap">
                                <mat-label class="w-[400px] mb-1">Enter cost</mat-label>
                                <mat-form-field class="w-[200px]">
                                    <input
                                        type="number"
                                        matInput
                                        formControlName="costInput"
                                        placeholder="Enter cost"
                                        min="0"
                                    />
                                    <mat-error
                                        *ngIf="
                                            fixedCostForm
                                                ?.get('costInput')
                                                .hasError('required')
                                        "
                                    >
                                        Cost is <strong>required</strong>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="
                                            fixedCostForm
                                                ?.get('costInput')
                                                ?.hasError('pattern')
                                        "
                                    >
                                        <div>
                                            Please enter valid <strong>cost</strong>
                                        </div>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="
                                            fixedCostForm
                                                ?.get('costInput')
                                                ?.hasError('max')
                                        "
                                        class="text-red-500"
                                    >
                                        <div>Cost must be less than 1000</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="w-full flex flex-col flex-wrap">
                                <mat-label class="w-[400px] mb-1">Select Technologies Hourly Rate</mat-label>
                                <mat-form-field 
                                    [floatLabel]="'always'"
                                    appearance="fill"
                                    class="w-[200px] example-chip-list flex-0 mb-2">
                                    <mat-chip-list #chipList>
                                        <input
                                            #technologyInput
                                            placeholder="select technology"
                                            formControlName="technology"
                                            [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="
                                                separatorKeysCodes
                                            "
                                            [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="add($event)"
                                            class="w-full"
                                        />
                                    </mat-chip-list>
                                    <mat-autocomplete
                                        #auto="matAutocomplete"
                                        (optionSelected)="selected($event)"
                                    >
                                        <mat-option
                                            *ngFor="let technology of selectTechnologyList"
                                            [value]="technology"
                                        >
                                            {{ technology }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="fixedCostForm?.get('technology')?.hasError('required')">
                                        <div>Add technology houry rate</div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div
                                *ngIf="technologies?.length > 0"
                                class="flex w-2/3 sm:min-w-1/2 flex-col overflow-hidden mt-4"
                            >
                                <div
                                    class="flex flex-col overflow-hidden sm:overflow-y-auto overflow-x-auto"
                                >
                                    <div
                                        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        matSortDisableClear
                                    >
                                        <div>Technology</div>
                                        <div>Hours</div>
                                        <div>Rate</div>
                                        <!-- <div>Action</div> -->
                                    </div>
                                    <ng-container>
                                        <div
                                            formArrayName="technologies"
                                            class="grid shadow"
                                        >
                                            <ng-container
                                                *ngFor="
                                                    let technology of technologies?.controls;
                                                    let i = index;
                                                    let last = last
                                                "
                                            >
                                                <form
                                                    *ngIf="
                                                        !technology?.value?.deleted
                                                    "
                                                    class="items-center border-b bg-white px-2"
                                                    [formGroupName]="i"
                                                >
                                                    <div
                                                        class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b"
                                                    >
                                                        <div
                                                            class="hidden md:block truncate -mt-5"
                                                        >
                                                            {{
                                                                technology?.value?.name
                                                            }}
                                                        </div>
                                                        <div class=""> 
                                                            <mat-form-field
                                                                [floatLabel]="'always'"
                                                                class="w-full"
                                                            >
                                                                <input
                                                                    formControlName="techHours"
                                                                    matInput
                                                                    placeholder="Hours"
                                                                    InputFormatter="numeric"
                                                                    type="number"
                                                                    min="0"
                                                                />
                                                                <mat-error
                                                                    class="text-xs"
                                                                    *ngIf="
                                                                        technology.get(
                                                                            'techHours'
                                                                        )?.invalid
                                                                    "
                                                                >
                                                                    Enter valid Hours
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="">
                                                            <mat-form-field
                                                                [floatLabel]="'always'"
                                                                class="w-full"
                                                            >
                                                                <input
                                                                    class=""
                                                                    formControlName="techRate"
                                                                    InputFormatter="numeric"
                                                                    matInput
                                                                    placeholder="Rate"
                                                                    min="0"
                                                                    type="number"
                                                                />
                                                                <mat-error
                                                                    class="text-xs"
                                                                    *ngIf="
                                                                        technology.get(
                                                                        'techRate'
                                                                        )?.invalid
                                                                    "
                                                                >
                                                                    Enter valid Rate
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>

                                                        <div class="">
                                                            <!-- <mat-icon
                                                                class="cursor-pointer -mt-5 ml-1"
                                                                color="warn"
                                                                matTooltip="Remove"
                                                                (click)="
                                                                    removeTechnology(
                                                                        i,
                                                                        technology?.value
                                                                    )
                                                                "
                                                                >cancel</mat-icon
                                                            > -->
                                                        </div>
                                                    </div>
                                                </form>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form [formGroup]="timeAndMaterialForm">
                    <div
                        class="w-[200px]"
                        *ngIf="
                            fixedCostForm?.get('costType')?.value?.value ===
                            'TANDM'
                        "
                    >
                        <mat-form-field class="w-full">
                            <mat-label>Nature of cost</mat-label>
                            <mat-select
                                formControlName="type"
                                name="food"
                                (selectionChange)="costTypeChange($event)"
                            >
                                <mat-option
                                    *ngFor="let type of timeAndMaterialType"
                                    [value]="type"
                                >
                                    {{ type?.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div
                        class="w-[200px]"
                        *ngIf="
                            timeAndMaterialForm?.get('type')?.value?.value ===
                                'FLAT_RATE' &&
                            fixedCostForm?.get('costType')?.value?.value ===
                                'TANDM'
                        "
                    >
                        <mat-form-field class="w-full">
                            <mat-label>Enter cost</mat-label>
                            <input
                                type="number"
                                matInput
                                formControlName="costInput"
                                placeholder="Enter cost"
                                min="0"
                            />
                            <mat-error
                                *ngIf="
                                    timeAndMaterialForm
                                        ?.get('costInput')
                                        .hasError('required')
                                "
                            >
                                Cost is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    timeAndMaterialForm
                                        ?.get('costInput')
                                        ?.hasError('pattern')
                                "
                            >
                                <div>
                                    Please enter valid <strong>cost</strong>
                                </div>
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    timeAndMaterialForm
                                        ?.get('costInput')
                                        ?.hasError('max')
                                "
                                class="text-red-500"
                            >
                                <div>Cost must be less than 1000</div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div
                        formArrayName="resources"
                        class="w-full"
                        *ngIf="
                            timeAndMaterialForm?.get('type')?.value?.value ===
                                'RESOURCE_SPECIFIC' &&
                            fixedCostForm?.get('costType')?.value?.value ===
                                'TANDM'
                        "
                    >
                        <ng-container
                            *ngFor="
                                let resource of resources?.controls;
                                let i = index;
                                let last = last
                            "
                        >
                            <form [formGroupName]="i">
                                <div class="flex gap-4 w-full">
                                    <div class="flex-1">
                                        <mat-form-field
                                            class="w-full"
                                            id="userlist"
                                            [floatLabel]="'always'"
                                        >
                                            <mat-label>Name</mat-label>
                                            <input
                                                matInput
                                                placeholder="Certificate Name"
                                                formControlName="name"
                                                class="inputlist"
                                            />
                                        </mat-form-field>
                                    </div>

                                    <div class="flex-1">
                                        <div class="w-full flex gap-2">
                                            <mat-form-field
                                                class="w-full max-w-[125px]"
                                            >
                                                <mat-label
                                                    >Hourly cost</mat-label
                                                >
                                                <input
                                                    type="number"
                                                    matInput
                                                    formControlName="cost"
                                                    placeholder="Enter cost"
                                                    min="0"
                                                />
                                                <mat-error
                                                    *ngIf="
                                                        resource
                                                            ?.get('cost')
                                                            .hasError(
                                                                'required'
                                                            )
                                                    "
                                                >
                                                    Cost is
                                                    <strong>required</strong>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="
                                                        !resource
                                                            ?.get('cost')
                                                            .hasError(
                                                                'required'
                                                            ) &&
                                                        resource
                                                            ?.get('cost')
                                                            ?.hasError(
                                                                'pattern'
                                                            )
                                                    "
                                                >
                                                    <div>
                                                        Please enter valid
                                                        <strong>cost</strong>
                                                    </div>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="
                                                        resource
                                                            ?.get('cost')
                                                            ?.hasError('max')
                                                    "
                                                    class="text-red-500"
                                                >
                                                    <div>
                                                        Cost must be less than
                                                        1000
                                                    </div>
                                                </mat-error>
                                            </mat-form-field>

                                            <mat-form-field
                                                class="w-full max-w-[150px]"
                                                *ngIf="
                                                    resource?.get('vendor')
                                                        ?.value
                                                "
                                            >
                                                <mat-label
                                                    >Cost to company</mat-label
                                                >
                                                <input
                                                    type="number"
                                                    matInput
                                                    formControlName="costToCompany"
                                                    placeholder="Enter cost"
                                                    min="0"
                                                />
                                                <mat-error
                                                    *ngIf="
                                                        resource
                                                            ?.get(
                                                                'costToCompany'
                                                            )
                                                            .hasError(
                                                                'required'
                                                            )
                                                    "
                                                >
                                                    Cost is
                                                    <strong>required</strong>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="
                                                        !resource
                                                            ?.get(
                                                                'costToCompany'
                                                            )
                                                            .hasError(
                                                                'required'
                                                            ) &&
                                                        resource
                                                            ?.get(
                                                                'costToCompany'
                                                            )
                                                            ?.hasError(
                                                                'pattern'
                                                            )
                                                    "
                                                >
                                                    <div>
                                                        Please enter valid
                                                        <strong>cost</strong>
                                                    </div>
                                                </mat-error>

                                                <mat-error
                                                    *ngIf="
                                                        resource
                                                            ?.get(
                                                                'costToCompany'
                                                            )
                                                            ?.hasError('max')
                                                    "
                                                    class="text-red-500"
                                                >
                                                    <div>
                                                        Cost must be less than
                                                        1000
                                                    </div>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>

        <div class="ml-[220px] min-h-[620px] p-2" *ngIf="showStep === 2">
            <div class="">
                <div class="text-xl font-semibold mt-2 mb-4">Leave/Holiday</div>

                <form [formGroup]="paidLeaveHolidayForm">
                    <div class="w-full flex flex-col flex-wrap mt-1">
                        <mat-label class="w-[400px] mb-1">How many paid Leaves/Holidays are allowed</mat-label>
                            <mat-form-field class="w-[200px]">
                                    <input
                                        type="number"
                                        matInput
                                        formControlName="paidLeaves"
                                        placeholder="Enter leave/holiday"
                                        min="0"
                                    />
                                    <mat-error
                                        *ngIf="
                                            paidLeaveHolidayForm
                                                ?.get('paidLeaves')
                                                .hasError('required')
                                        "
                                    >
                                        Paid leave/holiday is <strong>required</strong>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="
                                            paidLeaveHolidayForm
                                                ?.get('paidLeaves')
                                                ?.hasError('max')
                                        "
                                        class="text-red-500"
                                    >
                                        <div>Paid leave/holiday must be less than 5</div>
                                    </mat-error>
                            </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-flat-button
        [color]="'primary'"
        [disabled]="isLoading"
        (click)="cancel()"
    >
        <mat-icon *ngIf="!isLoading" class="mr-2">close</mat-icon>
        Cancel
    </button>
    <button
        mat-flat-button
        [color]="'primary'"
        [disabled]="isLoading"
        (click)="submit()"
    >
        <mat-icon *ngIf="!isLoading" class="mr-2">add</mat-icon>
        <mat-progress-spinner
            *ngIf="isLoading"
            class="mr-2"
            mode="indeterminate"
            diameter="24"
        ></mat-progress-spinner>
        Save
    </button>
</mat-dialog-actions>
