<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">


    <div
        class="relative flex flex-col sm:flex-row md:flex-col  justify-between py-8 px-6 md:px-8 border-b bg-card dark:bg-transparent">

        <div>
            <!-- <div class="text-4xl font-extrabold tracking-tight leading-none">Projects</div> -->

        </div>

        <div class="flex items-center">
            <div class="flex-auto">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [formControl]='projectSearchInput' [autocomplete]="'off'"
                    #searchInputField
                        [placeholder]="'Search by project name'">
                        <mat-icon *ngIf="searchInputField.value" class="icon-size-5 cursor-pointer" matSuffix [svgIcon]="'heroicons_solid:x'" (click)="clearSearch()"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex items-center ml-4 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                <button class="px-6" [ngClass]="{'bg-card pointer-events-none shadow': cardList,
                                'bg-transparent': !cardList}" mat-flat-button (click)="cardList = true" disableRipple>
                    <mat-icon role="img" class="mat-icon notranslate icon-size-6 mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="view-grid"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                            </path>
                        </svg></mat-icon>
                    <span class="ml-2">Card</span>
                </button>
                <button class="px-6" [ngClass]="{'bg-card pointer-events-none shadow': !cardList,
                                'bg-transparent': cardList}" mat-flat-button (click)="cardList = false" disableRipple>
                    <mat-icon role="img" class="mat-icon notranslate icon-size-6 mat-icon-no-color" aria-hidden="true"
                        data-mat-icon-type="svg" data-mat-icon-name="table"
                        data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%"
                            preserveAspectRatio="xMidYMid meet" focusable="false">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z">
                            </path>
                        </svg></mat-icon>
                    <span class="ml-2">List</span>
                </button>
            </div>
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="gotoAddProject()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add New Project</span>
            </button>
        </div>
    </div>
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false"
        (scrolled)="handleScroll()" class=" overflow-y-auto" *ngIf="cardList">
        <div class="flex flex-col items-center  pb-8 sm:pb-20 px-6 bg-gray-50 dark:bg-gray-800"
            >
            <div class="w-full max-w-7xl">
                <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16">
                    <ng-container *ngIf="!initialLoading && projectList.length > 0">
                        <ng-container *ngFor="let project of projectList">
                            <div>
                                <fuse-card
                                    class="min-h-344 flex flex-col max-w-140 w-full filter-post filter-interactive"
                                    #expandableCard02="fuseCard">
                                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">

                                        <div class="flex flex-col cursor-pointer" (click)="goToProject(project)">
                                            <span class="text-lg font-semibold leading-none"
                                                *ngIf="project.name">{{project.name | titlecase}}</span>
                                        </div>
                                        <span (click)="goToProject(project)" *ngIf="project.status"
                                            class=" cursor-pointer ml-auto  inline-flex items-center font-bold text-xs px-3 py-2 rounded-full tracking-wide uppercase"
                                            [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50  ':project.status == 'Sync In Progress',
                                   'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500':project.status == 'On Track',
                                   'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500':project.status == 'At Risk',
                                   'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500':project.status == 'Off Track'}">
                                            <span class="leading-relaxed whitespace-nowrap">{{project.status}}</span>
                                        </span>
                                        <button class=" ml-auto    inline-flex items-center"
                                            *ngIf="!project.lastSyncDate" mat-flat-button [color]="'primary'"
                                            (click)="syncProject($event,project.id)">
                                            <span class="ml-2 mr-1">Sync Now</span>
                                        </button>
                                    </div>
                                    <div *ngIf="project.lastSyncDate" class="flex items-center mx-6 sm:mx-8 mb-4">

                                        <div class="flex flex-col">
                                            <span class="" *ngIf="project.lastSyncDate">Last updated on
                                                {{project.lastSyncDate | date}}</span>
                                        </div>
                                        <span
                                            class=" ml-auto  inline-flex items-center font-bold  px-3 py-1 rounded-full tracking-wide">
                                            <span class="leading-relaxed whitespace-nowrap border-b-a cursor-pointer"
                                                (click)="syncProject($event,project.id)">Sync Now</span>
                                        </span>
                                    </div>
                                    <div (click)="goToProject(project)" class="cursor-pointer">

                                        <div class="mx-6 sm:mx-8 mt-2 mb-6" *ngIf="project.description">
                                            <span class="text-sm text-secondary leading-none mt-1">Description</span>
                                            <p>{{project.description}}</p>
                                        </div>

                                        <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8  sm:mb-6">

                                            <div class="flex flex-col" *ngIf="project.startDate">
                                                <span class="text-sm text-secondary leading-none">Start Date</span>
                                                <span class=" mt-1 leading-none">{{project.startDate | date}}</span>
                                            </div>
                                            <div class="hidden sm:flex flex-auto"></div>
                                            <div class="flex flex-col mt-4 sm:mt-0"
                                                *ngIf="project.teamModel.length > 0">
                                                <span class="text-sm text-secondary leading-none">Team</span>
                                                <div class="flex items-center mt-1">
                                                    <ng-container *ngIf="project.teamModel.length > 0">
                                                        <ng-container *ngFor="let team of project.teamModel;index as i">
                                                            <ng-container *ngIf="team.name !== null">
                                                                <div *ngIf="i<9"
                                                                    class="w-8 h-8 m-0.5 rounded-full items-center justify-center text-card ring-2 ring-bg-card bg-gray-200 dark:bg-gray-700 dark:text-gray-200"
                                                                    [ngClass]="{'-ml-3': i !== 0}">
                                                                    <img class="rounded-full" *ngIf="team.image"
                                                                        [src]="team.image" alt="Card cover image">
                                                                    <div class="rounded-full text-center uppercase text-1xl  mt-2.5 font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                                                        *ngIf="!team.image && team.name && i<8">
                                                                        {{team.name.charAt(0)}}
                                                                    </div>
                                                                    <div *ngIf="i == 8 "
                                                                        class="rounded-full text-center uppercase text-1xl  mt-2.5 font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                                        +{{project.teamModel.length - 8}}
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex flex-col mx-6 sm:mx-8 mb-6"
                                            *ngIf="project.done !== 'NaN' && project.done > 0">
                                            <span class="text-sm text-secondary leading-none">Progress</span>
                                            <div class="mt-2 flex items-center ">
                                                <mat-progress-bar class="my-2"
                                                    [value]="project.done"></mat-progress-bar>
                                                <div class="max-w-10 w-full text-right"> {{project.done | number:
                                                    '0.0-0' }}%</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="project.done == 'NaN' || project.done <= 0"
                                        class="mx-6 sm:mx-8 mt-2 mb-6 text-primary dark:text-primary-500">
                                        Not sync with Jira . Project details will appear here when the sync is complete.
                                    </div>
                                </fuse-card>
                            </div>
                        </ng-container>
                    </ng-container>

                    <div *ngIf="initialLoading" class="min-h-344 flex flex-col max-w-140 w-full">
                        <app-skeleton></app-skeleton>
                    </div>
                    <div *ngIf="initialLoading" class="min-h-344 flex flex-col max-w-140 w-full">
                        <app-skeleton></app-skeleton>
                    </div>
                    <div *ngIf="initialLoading" class="min-h-344 flex flex-col max-w-140 w-full">
                        <app-skeleton></app-skeleton>
                    </div>
                    <div *ngIf="initialLoading" class="min-h-344 flex flex-col max-w-140 w-full">
                        <app-skeleton></app-skeleton>
                    </div>

                </div> 
                <ng-container *ngIf="!initialLoading && projectList.length == 0">
                    <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center"> Projects not found
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div (scrolled)="handleScroll()" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            [scrollWindow]="false" class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto"
            infiniteScroll *ngIf="!cardList">
            <ng-container *ngIf="!initialLoading && projectList.length > 0">
                <div class="grid">
                    <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                        matSortDisableClear>
                        <div>Name</div>
                        <div class="hidden md:block">Description</div>
                        <div class="hidden sm:block">Start Date</div>
                        <div class="hidden lg:block">Last updated </div>
                        <div>Action</div>
                    </div>
                    <ng-container *ngFor="let project of projectList">
                        <div class="inventory-grid grid  items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div (click)="goToProject(project)" class="cursor-pointer">
                                <div class="truncate">
                                    {{project.name | titlecase}}
                                </div>
                            </div>
                            <div (click)="goToProject(project)" class="hidden md:block truncate cursor-pointer">
                                {{project.description}}
                            </div>
                            <div *ngIf="project.startDate" class="hidden sm:block ">
                                {{ project.startDate ? (project.startDate | date) : '-' }}
                            </div>
                            <div *ngIf="!project.startDate" class="hidden sm:block ml-8">
                                {{ project.startDate ? (project.startDate | date) : '-' }}
                            </div>
                            <div *ngIf="project.lastSyncDate" class="hidden lg:flex ">
                                <div class="min-w-4 ">
                                    {{ project.lastSyncDate ? (project.lastSyncDate | date) : '-' }}
                                </div>
                            </div>
                            <div *ngIf="!project.lastSyncDate" class="hidden  sm:block  ml-8">
                                {{ project.lastSyncDate ? (project.lastSyncDate | date) : '-' }}
                            </div>
                            <div class="sm:block">
                                <div *ngIf="!project.lastSyncDate" (click)="syncProject($event,project.id)"
                                    class="cursor-pointer py-1 px-3 rounded-full font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500 ng-star-inserted">
                                    Sync Now </div>
                                <span *ngIf="project.lastSyncDate"
                                    class=" ml-auto  inline-flex items-center font-semibold py-1 rounded-full tracking-wide">
                                    <span class="leading-relaxed whitespace-nowrap border-b-a cursor-pointer"
                                        (click)="syncProject($event,project.id)">Sync Now</span>
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="initialLoading ">
                <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center"> Loading......</div>
            </ng-container>
            <ng-container *ngIf="!initialLoading && projectList.length == 0">
                <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center"> Projects not found</div>
            </ng-container>
        </div>
    </div>