<div
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -m-6"
>
    <div class="text-lg font-medium">Resume versions</div>

    <button mat-icon-button (click)="cancel()" [tabIndex]="-1">
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
    </button>
</div>

<div class="flex flex-auto overflow-hidden mt-8">
    <!-- Resources list -->
    <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
        <div
            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
            matSortDisableClear
        >
            <div class="primary-900">Resume created on</div>
            <div class="hidden lg:block">Actions</div>
        </div>
        <ng-container *ngIf="!initialLoading && resumeVersions?.length > 0">
            <div *ngIf="resumeVersions?.length > 0" class="grid max-h-[500px]">
                <!-- Header -->

                <!-- Rows -->
                <ng-container *ngFor="let resume of resumeVersions">
                    <div
                        class="inventory-grid grid items-center gap-4 py-4 px-6 md:px-8 border-b h-67"
                    >
                        <!-- Sprints -->
                        <div class="truncate font-semibold text-black">
                            <div class="truncate cursor-pointer">
                                {{ resume?.time }}
                            </div>
                        </div>

                        <div class="md:block">
                            <mat-icon
                                [matTooltip]="'Download resume'"
                                class="text-gray-400 icon-size-5 cursor-pointer"
                                svgIcon="heroicons_outline:arrow-circle-down"
                            ></mat-icon>
                            <mat-icon
                                [matTooltip]="'Delete resume'"
                                class="ml-4 text-gray-400 icon-size-5 cursor-pointer"
                                svgIcon="heroicons_outline:trash"
                            ></mat-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <!-- <ng-container *ngIf="!initialLoading && totalRecored == 0">
            <div
                class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center"
            >
                Sprints not found
            </div>
        </ng-container>
        <ng-container *ngIf="initialLoading">
            <app-table-skeleton
                [skeletonData]="requiredSprintSkeletonData"
            ></app-table-skeleton>
        </ng-container> -->
    </div>
</div>
