<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Send feedback form for {{projectHistory?.name | titlecase}}</div>
    </div>

    <!-- Compose form -->
    <form [formGroup]="feedbackFrom"  class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="chip-input w-full mb-2 tracking-tight ng-tns-c274-3859">
            <mat-form-field  [floatLabel]="'always'" appearance="fill" class="w-full sm:w-140 mt-4 mb-2 sm:mt-0 " >
                <mat-label>Email *</mat-label>
                <mat-chip-list #chipList aria-label="email selection">                   
                <input
                    placeholder="New email..."
                    #emailInput
                    formArrayName="emails"
                    [formControl]="emailCtrl"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-chip-list #chipList class="mb-2">
                    <mat-chip
                        *ngFor="let email of emails"
                        (removed)="remove(email)">
                        {{email}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
            <div class="error-msg text-md mb-2">
                <mat-error  *ngIf="emailInvalid">Invalid email </mat-error>
                <mat-error *ngIf="!notempty">Please enter email</mat-error>
            </div>
        </div>
            <mat-form-field class="w-full sm:w-140 mt-4 mb-2 sm:mt-0 "  [floatLabel]="'always'">
                <mat-label>Subject</mat-label>
                <input
                    matInput
                    [placeholder]="'Subject here.'"
                    required
                    id="subject"
                    #feedbaclsubject
                    formControlName="subject" maxlength="100"
                >
                <mat-error *ngIf="feedbackFromValidation['subject'].errors &&
                    feedbackFromValidation['subject']?.invalid &&
                    feedbackFromValidation['subject']?.touched ">
                    <div *ngIf="feedbackFromValidation['subject'].errors['required']">Subject is mandatory</div>
                    <div *ngIf="feedbackFromValidation['subject'].errors['pattern']">Enter valid subject</div>
                </mat-error>
            </mat-form-field>
                       
            <mat-form-field 
                class="fuse-mat-textarea flex-auto w-full sm:w-140 mb-2 mt-4 sm:mt-0"  [floatLabel]="'always'">
                    <mat-label>Message</mat-label>
                    <textarea
                        matInput
                        required
                        maxlength="150"
                        trim="blur" 
                        rows="2"
                        style="resize:none"
                        formControlName="message"
                        [placeholder]="'Add message here...'">
                    </textarea>
                    <mat-error *ngIf="feedbackFromValidation['message'].errors &&
                            feedbackFromValidation['message']?.invalid &&
                            feedbackFromValidation['message']?.touched ">
                        <div *ngIf="feedbackFromValidation['message'].errors['required']">Project Description is mandatory</div>
                        <div *ngIf="feedbackFromValidation['message'].invalid && !feedbackFromValidation['message'].errors['required']">Enter valid project Description</div>
                    </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full sm:w-140 mt-4 sm:mt-0 "  [floatLabel]="'always'">
                <mat-label>Form Name</mat-label>
                <input
                    matInput
                    class="cursor-pointer"
                    [placeholder]="'Form Name here.'"
                    required
                    id="formName"
                    #feedbackFromName
                    [readonly]="form_name"
                    tooltip = 'Please choose the feedback form first.'
                    formControlName="formName" maxlength="50"
                >
                <mat-error *ngIf="feedbackFromValidation['formName'].errors &&
                        feedbackFromValidation['formName']?.invalid &&
                        feedbackFromValidation['formName']?.touched ">
                    <div *ngIf="feedbackFromValidation['formName'].errors['required']">Form name is mandatory</div>
                    <div *ngIf="feedbackFromValidation['formName'].errors['pattern']">Enter valid form name</div>
                            </mat-error>
                </mat-form-field>
                <div *ngIf="checkFormId" class="text-sm text-red-600 mb-2">Please choose the feedback form first <span class="font-semibold">(Go to edit project and add feedback form).</span></div>

            <div class="flex items-center ml-auto mt-6 sm:mt-4">
                <!-- Send -->
                <button
                    mat-stroked-button
                    type="button" (click)="close()">
                        Close
                </button>
                <button
                    class="order-first sm:order-last ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="checkFormId"
                    (click)="save()">
                     Send
                </button>
            </div>
    </form>
</div>

