<div class="flex flex-col flex-auto w-full" *ngIf="!initialLoading">
    <div
        class="w-full max-w-screen-xl mx-auto pt-6 pr-6 pl-6"
        *ngIf="!project?.repoProjectId"
    >
        <fuse-alert [type]="'warning'">
            <span fuseAlertTitle>Warning alert</span>
            <div class="flex flex-wrap items-center">
                This project is not assigned with the Bitbucket project yet.
                Please assign it to your Bitbucket project
                <button
                    class="ml-4"
                    mat-button
                    [color]="'primary'"
                    (click)="assignBitbucketProject()"
                >
                    <mat-spinner
                        *ngIf="
                            isBitbucketProjectListLoading;
                            else buttonContentRef
                        "
                        [diameter]="24"
                    ></mat-spinner>
                    <span
                        *ngIf="isBitbucketProjectListLoading"
                        class="ml-2 mr-1"
                        >Connecting to Bitbucket</span
                    >
                    <ng-template #buttonContentRef>
                        <mat-icon class="icon-size-5">add_task</mat-icon>
                        <span class="ml-2 mr-1">Assign Bitbucket Project</span>
                    </ng-template>
                </button>
            </div>
        </fuse-alert>
    </div>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div class="flex flex-col items-center">
                <div
                    class="flex items-center justify-between text-3xl font-semibold tracking-tight leading-8"
                >
                    <mat-icon
                        class="icon-size-6 text-3xl cursor-pointer text-black"
                        (click)="gotoProject()"
                        [svgIcon]="'heroicons_outline:chevron-left'"
                    ></mat-icon>
                    {{ project?.name | titlecase }}
                </div>
            </div>
            <div class="flex items-center ml-6">
                <div>
                    <button
                        class="ml-4"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="showWorkLogs()"
                    >
                        <span class="ml-2 mr-1">Work logs</span>
                    </button>
                </div>
                <div
                    *ngIf="repoCount == 0 && (userRole === 'ADMIN' || 'PM')"
                    [matTooltip]="
                        !project?.repoProjectId
                            ? 'Please assign Bitbucket project to continue'
                            : 'Create repository'
                    "
                >
                    <button
                        class="ml-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="!project?.repoProjectId"
                        (click)="createRepository()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:plus'"
                        ></mat-icon>
                        <span class="ml-2 mr-1">Create Repository</span>
                    </button>
                </div>
                <div *ngIf="repoCount > 0" [matTooltip]="'View repository'">
                    <button
                        class="ml-4"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="!project?.repoProjectId"
                        (click)="viewRepository()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_outline:eye'"
                        ></mat-icon>
                        <span class="ml-2 mr-1">View Repository</span>
                    </button>
                </div>
                <div
                    *ngIf="userRole === 'ADMIN' || 'PM'"
                    class="ml-2"
                    [matTooltip]="'Project Process Checklist'"
                >
                    <button
                        class="shadow-none"
                        mat-mini-fab
                        color="primary"
                        (click)="projectProcess()"
                        aria-label="Example icon button with a menu icon"
                    >
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
                <div class="inline-block" *ngIf="userRole === 'ADMIN' || 'PM'">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="weeklyFeedBackList()">
                            <span>Weekly Feedback List</span>
                        </button>
                        <button mat-menu-item (click)="addCR()">
                            <span>Add CR</span>
                        </button>
                        <button mat-menu-item (click)="editProject()">
                            <span>Edit Project</span>
                        </button>
                    </mat-menu>
                </div>
                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon
                            [svgIcon]="'heroicons_outline:dots-vertical'"
                        ></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>On Track</button>
                        <button mat-menu-item>Edit Project</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="flex items-center">
            <div
                class="items-center justify-between text-lg font-semibold tracking-tight leading-8 mr-8"
            >
                <span class="font-normal">Start Date :&nbsp;</span>
                {{ project?.createdAt | date }}
            </div>
            <div
                class="flex items-center justify-between text-lg font-semibold tracking-tight leading-8"
            >
                <span class="font-normal">End Date : &nbsp;</span>
                {{ project?.endDate | date }}
                <div class="px-3 mt-2">
                    <mat-icon
                        [matTooltip]="'View'"
                        class="text-gray-400 icon-size-5 cursor-pointer"
                        svgIcon="heroicons_outline:eye"
                        (click)="historyDetails()"
                    ></mat-icon>
                </div>
            </div>
        </div>
        <div
            *ngIf="project?.progress > 0"
            class="flex items-center mt-5 mb-6 justify-between w-full"
        >
            <mat-progress-bar
                class="my-2"
                [value]="project?.progress"
            ></mat-progress-bar>
            <div class="max-w-10 w-full text-right">
                {{ project?.progress | number : "0.0-0" }}%
            </div>
        </div>

        <!-- Main Section On -->
        <div class="grid xl:grid-cols-3 gap-2 w-full mt-8">
            <div
                class="grid gap-4 md:grid-cols-2 col-start-1 col-end-7 sm:grid-flow-col xl:grid-flow-row"
            >
                <div
                    class="relative rounded-md flex flex-col flex-auto bg-card shadow overflow-hidden"
                >
                    <app-overall-project-score></app-overall-project-score>
                </div>
                <div
                    class="relative rounded-md flex flex-col flex-auto bg-card shadow overflow-hidden"
                >
                    <app-customer-happiness-score></app-customer-happiness-score>
                </div>
            </div>
        </div>
        <!-- Sprint Data -->
        <div
            class="flex flex-col rounded-md flex-auto mt-8 bg-card w-full shadow overflow-hidden"
            *ngIf="sprints"
        >
            <app-sprints-list [dataId]="projectId"></app-sprints-list>
        </div>
        <div
            class="flex flex-col flex-auto mt-8 w-full overflow-hidden"
            *ngIf="crLists"
        >
            <div
                class="text-2xl pb-2 font-semibold tracking-tight leading-none"
            >
                CR List
            </div>
        </div>

        <!-- Cr lists Data -->
        <div
            class="flex flex-col rounded-md flex-auto mt-2 bg-card shadow w-full overflow-hidden"
            *ngIf="crLists"
        >
            <app-cr-lists
                *ngIf="!initialLoading"
                [crList]="crList"
            ></app-cr-lists>
        </div>
        <!-- time line chart -->
        <!-- <div class="flex flex-col rounded-md flex-auto mt-8 bg-card shadow w-full overflow-hidden">
            <app-project-timeline-chart></app-project-timeline-chart>
        </div> -->
        <!-- Member List Data -->
        <div
            class="flex flex-col flex-auto mt-8 w-full overflow-hidden"
            *ngIf="members"
        >
            <div
                class="text-3xl pb-2 font-semibold tracking-tight leading-none"
            >
                Members
            </div>
        </div>
        <div
            class="flex flex-col rounded-md flex-auto mt-2 bg-card shadow w-full overflow-hidden"
            *ngIf="members"
        >
            <app-project-members-list
                *ngIf="!initialLoading"
                [teamMembers]="teamMembers"
            ></app-project-members-list>
        </div>
    </div>
</div>
