<div class="absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between mt-8 px-6 md:px-8 ">
        <!-- Loader -->
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">   <mat-icon [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon> Project</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        
            <!-- Add product button -->
               <!-- Add product button -->
               <!-- <button
               class="ml-4"
               mat-flat-button
               [color]="'primary'"
               
               >
               <mat-icon  class=" icon-size-5" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
               <span class="ml-2 mr-1">Edit Project</span>
           </button> -->
        </div>
    </div>    
        <div  *ngFor="let project of projectList" class="border-b">
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">

                <div class="flex flex-col">
                    <span class="text-3xl font-bold leading-none" *ngIf="project.name">{{project.name | titlecase}}</span>
                </div>

                <span *ngIf="project.status" class=" ml-auto inline-flex items-center font-bold text-xs px-3 py-2.5 rounded-full tracking-wide uppercase"
                [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50 bg-red-200 ':project.status == 'Sync In Progress',
                'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500':project.status == 'On Track',
                'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500':project.status == 'At Risk',
                'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500':project.status == 'Off Track'}">
                    <span class="leading-relaxed whitespace-nowrap">{{project.status}}</span>
                </span>
                <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                
                >
                <mat-icon  class=" icon-size-5" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                <span class="ml-2 mr-1">Edit Project</span>
            </button>
            </div>
            <div class="flex flex-col mx-6 sm:mx-8 mb-6"  *ngIf="project.progres">
                <div class="mt-2 flex items-center ">
                    <mat-progress-bar
                        class="my-2"
                        [value]="project.progres"></mat-progress-bar>
                    <div class="max-w-10 w-full text-right"> {{project.progres}}%</div>
                </div>
            </div>

        </div>
    

    <!-- Main -->
    <div  class=" flex flex-col items-center  pb-8 sm:pb-20 px-6  bg-gray-50 dark:bg-gray-800 overflow-y-auto">
        <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16">
        <app-overall-project-score></app-overall-project-score>
        </div>
        <div>
            <!-- <app-sprints-list></app-sprints-list> -->
        </div>
    </div>
</div>
