<div class="w-full min-h-screen bg-gray-50 flex justify-center px-6 py-4">
    <div class="w-full max-w-[1496px] bg-white rounded-sm shadow-sm p-6">
        <div class="flex justify-between items-center">
            <h1 class="font-bold">Metrics/work-logs</h1>
            <div>
                <img class="w-36" src="assets/images/logo/logo.png" alt="" />
            </div>
        </div>

        <div>
            <!-- <div>
                <h4>Basic mat-select</h4>
                <div class="w-full">
                    <div class="flex items-center mt-6">
                        <mat-form-field class="w-full" [floatLabel]="'always'">
                            <mat-label>Hours</mat-label>
                            <input
                                matInput
                                type="text"
                                placeholder="Hours"
                                formControlName="totalHours"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
