.inventory-grid {
    grid-template-columns: 12% auto 8% 12%;
}
.inventory-grid-2 {
    grid-template-columns: 10% auto 10%;
}
.text-wrap-container > * {
    overflow-wrap: break-word !important;
}

.worklog-row {
    ol,
    ul,
    menu {
        list-style: unset !important;
        padding-left: 20px;
    }
}
