<div class="flex flex-col w-full">
    <div
        class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
    >
        <div
            class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
        >
            <!-- <button
                (click)="createResumeDialog()"
                [color]="'primary'"
                class="mr-2"
                mat-flat-button
            >
                Create resume
            </button>
            <button
                class="bg-slate-400 mr-2"
                mat-icon-button
                [matTooltip]="'View resume versions'"
                (click)="viewResumeVersions()"
            >
                <mat-icon
                    class="text-white"
                    svgIcon="heroicons_outline:eye"
                ></mat-icon>
            </button> -->
            <button
                class="bg-slate-400"
                mat-icon-button
                [matTooltip]="'Edit'"
                [routerLink]="['../']"
                (click)="edit(resourceDetails.id)"
            >
                <mat-icon
                    class="text-white"
                    svgIcon="heroicons_outline:pencil"
                ></mat-icon>
            </button>
            <button
                class="bg-slate-400 ml-1"
                mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['../']"
                (click)="closeDrawer()"
            >
                <mat-icon
                    class="text-white"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
            </button>
        </div>
    </div>

    <div
        *ngIf="!initialLoading; else loaderRef"
        class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0"
    >
        <div class="w-full max-w-3xl">
            <div class="flex flex-auto items-end -mt-16">
                <div
                    class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
                >
                    <div
                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                    >
                        {{ resourceDetails?.firstName?.charAt(0) }}
                    </div>
                </div>
            </div>

            <div class="mt-3 pt-2 pb-2 text-4xl font-bold truncate">
                {{ resourceDetails?.firstName | titlecase }}
                {{ resourceDetails.lastName | titlecase }}
            </div>

            <ng-container *ngIf="resourceDetails.email">
                <div class="flex flex-wrap items-center mt-2">
                    <div
                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                    >
                        <span class="text-sm font-medium whitespace-nowrap">{{
                            resourceDetails.email
                        }}</span>
                    </div>
                </div>
            </ng-container>

            <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                <ng-container *ngIf="resourceDetails.assignedProject">
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:briefcase'"
                        ></mat-icon>
                        <span class="ml-2"> Projects: </span>

                        <ng-container>
                            <div class="flex flex-wrap items-center mt-2 ml-4">
                                <ng-container
                                    *ngFor="
                                        let project of resourceDetails.assignedProject
                                    "
                                >
                                    <div
                                        *ngIf="project"
                                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                                    >
                                        <span
                                            class="text-sm font-medium whitespace-nowrap"
                                            >{{ project }}</span
                                        >
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center mt-2">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:code'"
                        ></mat-icon>
                        <span class="ml-2">Technologies:</span>
                        <ng-container
                            *ngIf="resourceDetails?.technologies?.length > 0"
                        >
                            <div class="flex flex-wrap items-center mt-2 ml-4">
                                <ng-container
                                    *ngFor="
                                        let technology of resourceDetails?.technologies
                                    "
                                >
                                    <div
                                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                                    >
                                        <span
                                            class="text-sm font-medium whitespace-nowrap"
                                            >{{ technology?.name }}</span
                                        >
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:document-text'"
                        ></mat-icon>
                        <span class="ml-2">Experience:</span>
                        <div class="ml-4 leading-6">
                            {{ resourceDetails.careerStartDate | diffDate }}
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="score > 0">
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:emoji-happy'"
                        ></mat-icon>
                        <span class="ml-2">Happiness Score:</span>
                        <div class="ml-4 leading-6">
                            {{ score }}/{{ outOfScore }}
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:flag'"
                        ></mat-icon>
                        <span class="ml-2">Date Of Joining:</span>
                        <div
                            *ngIf="!resourceDetails.dateOfJoining"
                            class="ml-4 leading-6"
                        >
                            -
                        </div>
                        <div
                            *ngIf="resourceDetails.dateOfJoining"
                            class="ml-4 leading-6"
                        >
                            {{ resourceDetails.dateOfJoining | date }}
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:users'"
                        ></mat-icon>
                        <span class="ml-2">Team:</span>
                        <div class="ml-4 leading-6">
                            {{ resourceDetails?.role }}
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:currency-dollar'"
                        ></mat-icon>
                        <span class="ml-2">Salary:</span>
                        <div
                            *ngIf="!resourceDetails.salary"
                            class="ml-4 leading-6"
                        >
                            -
                        </div>
                        <div
                            *ngIf="resourceDetails.salary"
                            class="ml-4 leading-6"
                        >
                            {{ resourceDetails.salary }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<ng-template #loaderRef>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
