.inventory-grid {
    grid-template-columns: 120px auto 140px 40px;

    @screen sm {
        grid-template-columns: 120px auto 140px 40px;
    }

    @screen md {
        grid-template-columns:120px auto 140px 40px;
    }

    @screen lg {
        grid-template-columns: 120px auto 140px 40px;
    }
}