.inventory-grid {
  grid-template-columns: 48px 150px 60px;

  @screen sm {
    grid-template-columns: auto 330px 140px;
  }

  @screen md {
    grid-template-columns: auto 330px 140px;
  }

  @screen lg {
    grid-template-columns: auto 330px 180px;
  }
}

.h-67 {
  height: 67px;
}

.primary-900 {
  color: #0054A4;
}

.h300 {
  height: 300px;
}