.inventory-grid {
    //grid-template-columns: 48px 150px auto 112px 72px 60px;
    //this is for a mobile
    grid-template-columns:  150px 60px;
  
    @screen sm {
      grid-template-columns:  200px 150px 150px 112px 100px 80px 150px 150px1 50px;
    }
  
    @screen md {
      grid-template-columns:  200px 150px 150px 112px 130px 85px 150px 150px 150px;
    }
  
    @screen lg {
      grid-template-columns:  200px 150px 150px 112px 150px 80px 150px 150px 150px;
    }
  }