


<div class="flex flex-col flex-auto bg-card overflow-hidden">
  <div class="p-2 border-b">
    <div class="flex items-start justify-between ">
      <div class="text-lg font-medium tracking-tight leading-6 truncate"> {{titleMain}} </div>
    </div>
  </div>
      <div class="flex  flex-auto relative-position overflow-hidden">
        <div class="coming-soon ">Coming Soon</div>
     <apx-chart class="overlay-5" [series]=" series" [colors]=" colors" [chart]=" chart" [stroke]="stroke" [labels]=" labels" [legend]="legend"[xaxis]=" xaxis" [fill]="fill" [plotOptions]="plotOptions">
    </apx-chart>
      </div>
</div>
