<div
    class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 bg-primary text-on-primary -m-6"
>
    <div *ngIf="!disableEmailField" class="text-lg font-medium">
        Add Resource
    </div>
    <div *ngIf="disableEmailField" class="text-lg font-medium">
        Update Resource
    </div>
    <button
        mat-icon-button
        (click)="cancel()"
        [tabIndex]="-1"
        [disabled]="submitInProcess"
    >
        <mat-icon
            class="text-current"
            [svgIcon]="'heroicons_outline:x'"
        ></mat-icon>
    </button>
</div>
<form *ngIf="addResourceForm" [formGroup]="addResourceForm" class="mt-12">
    <div class="w-full flex flex-1">
        <div class="w-full mr-3">
            <mat-form-field [floatLabel]="'always'" class="w-full h-4 mt-2">
                <mat-label class="">Email</mat-label>
                <input
                    matInput
                    [placeholder]="'Email'"
                    aria-label="email"
                    #emailInput
                    [matAutocomplete]="auto1"
                    formControlName="email"
                />
                <mat-autocomplete
                    #auto1="matAutocomplete"
                    (optionSelected)="getSelectedEmail($event.option.value)"
                >
                    <mat-option
                        *ngFor="let item of filteredEmails | async"
                        [value]="item?.email"
                    >
                        <span>{{ item?.email }}</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error
                    *ngIf="addResourceForm?.get('email')?.hasError('required')"
                >
                    <div>Email is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field [floatLabel]="'always'" class="w-full mt-2">
                <mat-label class="">Role on this project</mat-label>
                <mat-select
                    placeholder="Select role"
                    formControlName="role"
                    [disabled]="currentCapacity === 0 ? true : false"
                >
                    <mat-option *ngFor="let role of ROLE_LIST" [value]="role">
                        {{ role }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="addResourceForm?.get('role')?.hasError('required')"
                >
                    <div>Role is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="w-full flex flex-1 mt-3">
        <div class="w-full mr-3">
            <mat-form-field [floatLabel]="'always'" class="w-full">
                <mat-label>Start Date</mat-label>
                <input
                    matInput
                    #inputJoining
                    [placeholder]="'Start Date'"
                    formControlName="startDate"
                    [matDatepicker]="dateOfJoiningDatepicker"
                    (focus)="dateOfJoiningDatepicker.open()"
                    [disabled]="currentCapacity === 0 ? true : false"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dateOfJoiningDatepicker"
                >
                </mat-datepicker-toggle>
                <mat-datepicker
                    #dateOfJoiningDatepicker
                    (closed)="inputJoining.blur()"
                >
                </mat-datepicker>
                <mat-error
                    *ngIf="
                        addResourceForm?.get('startDate')?.hasError('required')
                    "
                >
                    <div>Start Date is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field [floatLabel]="'always'" class="w-full">
                <mat-label>End Date</mat-label>
                <input
                    matInput
                    #inputJoining
                    [placeholder]="'End Date'"
                    formControlName="endDate"
                    [matDatepicker]="dateOfJoiningDatepicker1"
                    (focus)="dateOfJoiningDatepicker1.open()"
                    [disabled]="currentCapacity === 0 ? true : false"
                    [min]="addResourceForm.get('startDate').value"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="dateOfJoiningDatepicker1"
                >
                </mat-datepicker-toggle>
                <mat-datepicker
                    #dateOfJoiningDatepicker1
                    (closed)="inputJoining.blur()"
                >
                </mat-datepicker>
                <mat-error
                    *ngIf="
                        addResourceForm?.get('endDate')?.hasError('required')
                    "
                >
                    <div>End Date is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="w-full flex flex-1 mt-2">
        <div class="w-full mr-3">
            <mat-form-field [floatLabel]="'always'" class="w-full h-4 mt-2">
                <mat-label class="">Technology</mat-label>
                <input
                    matInput
                    [placeholder]="'Technology'"
                    aria-label="technology"
                    [matAutocomplete]="auto1"
                    formControlName="technology"
                />
                <mat-autocomplete
                    #auto1="matAutocomplete"
                    (optionSelected)="getSelectedEmail($event.option.value)"
                >
                    <mat-option
                        *ngFor="let item of filteredEmails | async"
                        [value]="item?.email"
                    >
                        <span>{{ item?.email }}</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-error
                    *ngIf="
                        addResourceForm?.get('technology')?.hasError('required')
                    "
                >
                    <div>Technology is mandatory</div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-full mt-3 ml-1">
            <label class="font-semibold -mb-0">Utilization</label>
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="ml-3 mt-2 example-radio-group"
                formControlName="utilization"
            >
                <mat-radio-button
                    class="example-radio-button"
                    [color]="'primary'"
                    *ngFor="let value of utilizationValues"
                    [disabled]="value > currentCapacity"
                    [value]="value"
                >
                    {{ value }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div
        class="flex flex-col flex-auto overflow-hidden mt-4"
        *ngIf="alreadyAssignedProjects?.length > 0"
    >
        <span class="text-l text-gray-500 mb-1"
            >Current Resource Utilization</span
        >
        <div
            class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto overflow-x-auto"
        >
            <div
                class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 px-2"
                matSortDisableClear
            >
                <div>Project Name</div>
                <div>Utilization</div>
            </div>
            <ng-container *ngIf="true">
                <div class="grid shadow">
                    <ng-container
                        *ngFor="let project of alreadyAssignedProjects"
                    >
                        <div
                            class="inventory-grid grid items-center gap-4 py-3 border-b bg-white px-2"
                        >
                            <div class="hidden md:block truncate">
                                {{ project?.projectName }}
                            </div>
                            <div class="hidden md:block truncate">
                                {{ project?.utilization }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="flex justify-end mt-3">
        <button
            mat-stroked-button
            type="button"
            class="px-6 mr-2"
            (click)="cancel()"
            [disabled]="submitInProcess"
        >
            Cancel
        </button>
        <button
            class="ml-3"
            mat-flat-button
            [color]="'primary'"
            (click)="submitResourceData()"
            [disabled]="submitInProcess"
            [disabled]="currentCapacity === 0 ? true : false"
        >
            <span class="mx-2">{{ mode === "EDIT" ? "Update" : "Add" }}</span>
            <mat-progress-spinner
                *ngIf="submitInProcess"
                [diameter]="18"
                [mode]="'indeterminate'"
            ></mat-progress-spinner>
        </button>
    </div>
</form>
