<!-- <div class=" sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"> -->


    <!-- Main -->
    <!-- <div  class="flex flex-col items-center  pb-8 sm:pb-20 px-6  bg-gray-50 dark:bg-gray-800 overflow-y-auto"> -->
        <!-- <div class="w-full max-w-7xl"> -->
         <!-- full width -->

         <!-- card -->
         <!-- <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16"> -->
             <ng-container >
                <ng-container >
                    <div>
                        <fuse-card
                        class=" flex flex-col w-full filter-post filter-interactive"
                        #expandableCard02="fuseCard">
                           <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">

                            <div class="flex flex-col">
                                <span class="text-lg font-semibold leading-none" >Overall Project Score</span>
                            </div>

                        </div>
                       
                        </fuse-card>
                    </div>
                </ng-container>
            </ng-container>

         <!-- </div> -->

        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->
